@font-face{
    font-family: "Cerebri-Sans";
    src: url("../fonts/CerebriSans-Book.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Light"; 
    src: url("../fonts/CerebriSans-Light.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Medium";
    src: url("../fonts/CerebriSans-Medium.otf") format("opentype")
}
@font-face{
    font-family: "CerebriSans-Regular"; 
    src: url("../fonts/CerebriSans-Regular.otf") format("opentype");
}
::-webkit-scrollbar{
    width: 7.5px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #4787fb;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #4787fb;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}
.fa{
    background-color: transparent;
    color: #4785fb;
    right: 0;
    position: relative;
    font-size: 16px
}
html,body{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: block;
}

/* START NAVIGATION RULE */
/* RULE FOR NAVIGATION */
#navigation{
    width: 100%;
    height: 60px;
    display: inline-block;
    position: relative;
    top: -5px !important;
    padding: 0 100px;
    margin: 0 !important;
    background-color: #ffffff;
    border-bottom: none;
    border-bottom: 1px solid #4f87fb !important;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#navigation.active{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #4f87fb !important;
    z-index: 4;
}
#navigation>.companyLogo{
    float: left;
    display: block;
    position: relative;
    padding: 5px 0;
    height: 100%;
    width: 50px;
}
#navigation>.companyLogo>a{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
}
#navigation>.companyLogo>a img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#navigation>.navigationLinks{
    width: calc(100% - 60px);
    height: 100%;
    background-color: #ffffff;
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}
.navigationLinks>ul{
    list-style: none;
    height: 100%;
    width: auto;
    position: relative;
    display: block;
    float: right;
    padding: 0;
    margin: 0;
}
.navigationLinks>ul>li{
    width: auto;
    height: 100%;
    display: block;
    position: relative;
    float: left;
}
.navigationLinks>ul>li a{
    padding: 20px 0;
    height: 100%;
    width: auto;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    text-transform: none;
    text-decoration: none;
    opacity: 0.7;
    color: #121212;
    transition: color 0.4s ease-out;
    font-family: "CerebriSans-Medium";
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
}
.navigationLinks>ul>li a.active{
    color: #4f87fb;
    opacity: 1 !important;
}
.navigationLinks>ul>li a::before{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #4f87fb;
    right: auto;
    margin-right: 50%;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out
}
.navigationLinks>ul>li a:hover::before{
    width: 100%;
    margin: auto;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}    
ul.menulist{
    display: none;
    opacity: 0;
    width: 150px;
    height: auto;
    z-index: 2;
    padding: 10px 10px;
    margin: 0;
    box-shadow: 0 2px 5px 0 #ccc;
    position: absolute;
    top: 110%;
    list-style: none;
    border-radius: 4px;
    background-color: #ffffff;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    outline: none;
    border: none;
}
ul.menulist.active{
    display: block;
    opacity: 1;
}
ul.menulist::after{        
    height: 0;
    width: 0;
    position: absolute;
    content: '';
    top: -5px;
    left: 10px;
    border-width: 0 6px 7px 6px;
    border-style: solid;
    border-color: #fff transparent;
}
ul.menulist li a{
   height: 30px;
   width: 100%;
   padding: 5px 0;
   margin: 0;
   display: block;
   position: relative;
   font-size: 14px;
   font-weight: lighter;
   font-family: "CerebriSans-Light";
   outline: none;
   border: none;
}
li.noHover a::before{
    display: none;;
}
li.noHover a:hover::before{
    display: none;
}
.navigationLinks>ul>li>div.signupBtn{
    padding: 10px 0;
    margin-left: 10px;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    outline: none;
    border: none;
}
.navigationLinks>ul>li>div.signupBtn a{
    height: 40px;
    width: auto;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none !important;
    border: none;
    color: #ffffff;
    background-color: #4f87fb;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    font-family: "CerebriSans-Medium";
    cursor: pointer;
    text-align: center;
    opacity: 1 !important;
}
.navigationLinks>ul>li>div.signupBtn a:hover{
    box-shadow: 0 2px 15px 0 rgba(79, 135, 251, 0.5);
    cursor: pointer;
}

/* END OF NAVIGATION RULE */

div.bookmarkSearch{
    width: 100%;
    height: auto;
    padding: 20px 100px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 3;
}
div.bookmarkSearch form.BS{
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
}
div.bookmarkSearch form.BS div{ 
    display: block;
    position: relative;
    width: auto;
    float: left;
    padding: 10px  0;
    margin: 0 10px;
}
div.bookmarkSearch form.BS div p{           
    width: 100%;
    height: auto;
    display: block;
    float: left;
    position: relative;
    font-family: "Cerebri-Sans";
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #4a4a4a;
    padding: 5px 0;
    margin: 0;
    text-transform: capitalize;
}
div.bookmarkSearch form.BS div div{
    height: 50px;  
    width: 100%;
    border-radius: 4px;
    border: solid 1px #cdcdcd;
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}
div.bookmarkSearch form.BS div div::after{        
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px; 
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-top-color: #ffffff;
    border-color: #4f87fb transparent;
}
div.bookmarkSearch form.BS div div span{
    color: #4a4a4a;
    font-family: "CerebriSans-Light";
    font-weight: 300;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding: 15px 10px;
    display: block;
    cursor: pointer;
    text-transform: capitalize;
}
div.bookmarkSearch form.BS div div ul.searchList{
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    list-style: none;
    opacity: 0;
}    
div.bookmarkSearch form.BS div div ul.searchList::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 11px;
    border-width: 0 7px 7px 7px;
    border-style: solid;
    border-color: #fff transparent;
}
div.bookmarkSearch form.BS div div ul.searchList:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 10px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}
/* Active state */
div.bookmarkSearch form.BS div div ul.searchList.active{
    opacity: 1;
    z-index: 3;
}
div.bookmarkSearch form.BS div div ul.searchList li{
    width: 100%;
    height: 100%;
    display: list-item;
    text-align: left;
}
div.bookmarkSearch form.BS div div ul.searchList li p{
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 10px;
    text-transform: capitalize;
    font-family: "CerebriSans-Light";
    font-size: 16px;
    font-weight: 400;
    color: #4a4a4a;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
div.bookmarkSearch form.BS div div ul.searchList li p:hover{
    color: #4f87fb;
    cursor: pointer;
}
div.bookmarkSearch form.BS div div#min-price, div.bookmarkSearch form.BS div div#max-price{
    width: 150px !important;
    height: 50px;
    padding: 0 ;
    display: block;
    position: relative;
    float: left;
    margin: 0;
    background: transparent !important;
}
div.bookmarkSearch form.BS div div#min-price::before, div.bookmarkSearch form.BS div div#max-price::before{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    content: "NGN";
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 400;
    font-family: "CerebriSans-Light";
    opacity: 0.9;
    padding: 15px 0 15px 5px;
}
div.bookmarkSearch form.BS div div#min-price::after, div.bookmarkSearch form.BS div div#max-price::after{
    display: none;
    z-index: -1000;
}
div.bookmarkSearch form.BS div div#min-price input, div.bookmarkSearch form.BS div div#max-price input{
    width: 100%;
    height: 100%;
    padding: 17px 5px 15px 50px;
    margin: 0;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "CerebriSans-Light";
    z-index: 2;
    display: block;
    position: relative;
    background: transparent !important;
    color: #4a4a4a;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
div.bookmarkSearch form.BS div.location{
    width: 150px;
    height: auto;
}
div.bookmarkSearch form.BS div.duration{
    width: 180px;
    height: auto;
}
div.bookmarkSearch form.BS div.min-price{
    width: 150px;
    height: auto;
}
div.bookmarkSearch form.BS div.max-price{
    width: 150px;
    height: auto;
}
div.bookmarkSearch form.BS div.guard{
    width: 80px;
    height: auto;
    float: left;
}
div.bookmarkSearch form.BS div.type{
    width: 170px;
    height: auto;
}
div.bookmarkSearch form.BS div.parking-space{
    width: 130px;
    height: auto;
    margin: 0 15px 0 15px;
}
div.bookmarkSearch form.BS div.fence{
    width: 100px;
    height: auto;
    margin: 0 15px 0 15px;
}
div.bookmarkSearch form.BS div.button{
    width: 104px;
    height: 100%;
    float: left;
    display: block !important;
    padding: 42px 0 0 0;
    margin: 0;
    opacity: 1;
}
div.bookmarkSearch form.BS div.button>input[type=submit]{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    height: 50px;
    padding: 14px 15px;
    background-color: #4f87fb;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "CerebriSans-Medium";
    cursor: pointer;
    opacity: 1 !important;
    border: none;
    outline: none;
}

div.bookmarkResults{
    padding: 30px 100px;
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
}
.bookmarkResults .search-result{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    padding: 30px 0;
}
.bookmarkResults .search-result div{
    display: block;
    float: left;
    height: auto;
}
.bookmarkResults .search-result .space-images{
    width: 30%;
    height: 210px;
    position: relative;
}
.bookmarkResults .search-result .space-images img{
    height: 100%;
    width: 0;
    float: left;
    left: 0;
    display: block;
    position: relative;        
    -webkit-transition: left,width .5s ease-out ;
    -o-transition: left,width .5s ease-out ;
    transition: left,width .5s ease-out ;
}
.bookmarkResults .search-result .space-images img.active{
    width: 100%;
    left: 0;
    position: relative;
    float: left;
    display: block;
}
.bookmarkResults .search-result .space-images div{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 4;
    opacity: 1;
}
.bookmarkResults .search-result .space-images div>a{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}
.bookmarkResults .search-result .space-images div.leftbtn{
    left: 20px; 
    background-image: url("../assets/icons/left@2x.png");
}
.bookmarkResults .search-result .space-images div.rightbtn{
    right: 20px;
    background-image: url("../assets/icons/right@2x.png");
}
.bookmarkResults .search-result div.space-details{
    width: 60%;
    height: 210px;
    background-color: transparent;
    padding: 10px 60px 10px 40px;
}
.bookmarkResults .search-result div.space-rating{
    width: 10%;
    height: auto;
    background-color: transparent;
}
.bookmarkResults .search-result .space-details p.space-name{
    font-size: 22px;
    font-family: "CerebriSans-Medium";
    font-weight: 500;
    color: #4a4a4a;
    padding: 0 0 10px 0;
    margin: 0;
}
.bookmarkResults .search-result .space-details p.address{
    font-size: 18px;
    font-family: "CerebriSans-Light";
    font-weight: 300;
    color: #4a4a4a;
    padding: 0 0 5px 0;
    margin: 0;
}
.bookmarkResults .search-result .space-details p.secondary-address{
    font-size: 18px;
    font-family: "CerebriSans-Light";
    font-weight: 300;
    color: #4a4a4a;
    padding: 0 0 10px 0;
    margin: 0;
}
.bookmarkResults .search-result .space-details p.description{
    font-size: 18px;
    font-family: "CerebriSans-Light";
    font-weight: 300;
    color: #4a4a4a;
    padding: 5px 0 5px 0;
    margin: 0;
}
.bookmarkResults .search-result .space-details p.amount{
    font-size: 18px;
    font-family: "CerebriSans-Medium";
    font-weight: 500;
    text-align: left;
    text-transform: none;
    color: #4a4a4a;
    padding: 10px 0 5px 0;
    margin: 0;
}
.bookmarkResults .search-result .space-rating p{
    font-size: 16px;
    font-family: "CerebriSans-Medium";
    font-weight: 300;
    text-align: left;
    text-transform: none;
    color: #4a4a4a;
    padding: 10px 0 5px 0;
    margin: 0;
}