html,body{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: block;
}
body::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #121212;
    opacity: 0.7;
    z-index: 4;
    display: none;
    overflow: hidden !important;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
p{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Cerebri Sans";
    src: url("../fonts/CerebriSans-Book.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans Light"; 
    src: url("../fonts/CerebriSans-Light.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Medium";
    src: url("../fonts/CerebriSans-Medium.otf") format("opentype")
}
@font-face{
    font-family: "CerebriSans-Regular"; 
    src: url("../fonts/CerebriSans-Regular.otf") format("opentype");
}
@media screen and (min-width: 768px){
    .formRow{
        width: 458px;
        height: auto; 
        margin: auto; 
        padding: 0 49px !important;
        background-color: #ffffff;
        z-index: 5;
        position: absolute;     
        left: 0;
        right: 0;
        top: 50% !important;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateY(-50%);
        user-select: none;
        display: block;
    }
    #signup-options>.close,#signin-option>.close,#register-option>.close{
        position: absolute;
        top: 15px;
        right: -30px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 20px;
        margin: 0;
        background-size: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("../assets/icons/close@2x.png");
        background-color: #ffffff;
        display: inline-block;
        z-index: 5;
        cursor: pointer;
    }
    /* styling the div's for each form */
    #signup-options, #signin-option, #register-option{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 !important;
        background-color: transparent;
        position: relative; 
        box-sizing: border-box;
        user-select: none; 
        z-index: 5;
        display: block;
        z-index: 6;/* to be changed to hidden */
    }
    /* 
        styling the SIGNUP OPTIONS 
    */
    #signup-options>div{
        width: 100%;
        height: 48px;
        padding: 12px 15px;
        margin: 8px 0 0 0;
        display: block;
        position: relative;
        border-radius: 2px;
        background-repeat: no-repeat;
        background-position: 40px;
        background-size: 27px 24px;
    }
    .facebook{
        background-color: #3b5197;
        cursor: pointer;
        background-image: url("../assets/icons/facebook@2x.png");
    }
    .google{
        background-color: #4285f4;
        cursor: pointer;
        background-image: url("../assets/icons/google-plus@2x.png");
    }
    .emailOpt{
        background-color: #ad092b;
        cursor: pointer;
        background-image: url("../assets/icons/message@2x.png");
    }
    #signup-options>p{
        font-family: "Cerebri Sans";
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        padding: 42px 0 20px 0;
        margin: 0;
        text-transform: capitalize;
    }
    #signup-options>span{
        text-align: center;
        font-family: "Cerebri Sans";
        font-size: 15px;
        color: #616161;
        padding: 5px 0 0 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
    }
    #signup-options>.agree{    
        font-family: "Cerebri Sans";
        font-size: 13px;
        line-height: 1.54;
        text-align: center;
        color: #636b7a;
        padding: 4px 5px;
        margin: 8px 0 0 0;
    }
    .facebook>p>a, .google>p>a, .emailOpt>p{    
        font-family: "Cerebri Sans";
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: transparent;
        height: 24px;
        padding: 3px 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    #signup-options>.baseOpt{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        box-sizing: border-box;
        margin: 23px 0 0 0;
        padding: 15px 0;
    }  
    .baseOpt>p{    
        height: 40px;
        font-family: "Cerebri Sans";
        font-size: 15px;
        line-height: 1.47;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
        width: auto;
        padding: 10px 32px 0 0;
        margin: 0;
    }
    .baseOpt>input[type=submit]{    
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    /* 
        styling the SIGNIN OPTIONS 
    */
    #signin-option>p:nth-child(2){    
        font-family: 'Cerebri Sans';
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        text-transform: capitalize;
        box-sizing: border-box;
        padding: 42px 0 24px 0 !important;
        margin: 0;
    }
    .socialmedia-option{
        display: inline-block;
        position: relative;
        height: 47px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .socialmedia-option>div{
        width: calc(98%/2) !important;
        height: 47px;
        padding: 10px 0;
        margin: 0;
        box-sizing: border-box;
        display: block;
        float: left;
        position: relative;
        border-radius: 2px;
    }
    .socialmedia-option>div.facebookOpt{
        background-color: #3b5197;
        margin: 0 1% 0 0;
    }
    .socialmedia-option>div.googleOpt{
        background-color: #4285f4;
        margin: 0 0 0 1%;
    }
    .facebookOpt>p>a, .googleOpt>p>a{
        height: 100%;
        width: 100%;
        font-family: "Cerebri Sans";
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.3px;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        padding: 4px 0;
        margin: 0;
    }
    #signin-option>span{
        text-align: center;
        height: 19px;
        font-family: "Cerebri Sans";
        font-size: 15px;
        color: #616161;
        padding: 10px 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
    }
    #signin-option>form{
        height: auto;
        width: 100%;
        display: block;
    }
    #signin-option>form>div+div{
        height: 48px;
        width: 100%;
        padding: 0;
        margin: 5.5px 0;
        box-sizing: border-box;
        border-radius: 4px;
    }
    #signin-option>form>div input{    
        height: 48px;
        width: 100%;
        padding: 10px 5px 10px 40px;;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #909398;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px ;
    }
    div input[type=email]{    
        background-image: url("../assets/icons/at.png");
        background-size: 24px 24px;
        width: 100% !important;
        color: #616161;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }
    div input[type=password]{
        background-image: url("../assets/icons/lock.png");
        background-size: 24px 24px;
        color: #616161;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }
    div input[type=checkbox],div input[type=checkbox]:checked{
        margin: 7.5px 0;;
        padding: 0;
        float: left;
        display: block;
        box-sizing: border-box;
    } 
    form>p{
        padding: 4px 20px;
        font-family: "Cerebri Sans";
        font-weight: 500;
        font-size: 15px;
        color: #616161;
        margin: 0;
    }
    form>.submitBtn{
        height: 48px;
        width: 100%;
        display: block;
        position: relative;
        border-radius: 2px;
        padding: 0;
        margin: 5px 0 0 0;
        box-sizing: border-box;
        background-color: #4285f4;
        cursor: pointer;
        outline: none !important;
    }
    form>.submitBtn>input[type=submit]{
        height: 100%;
        width: 100%;
        padding: 12px 0 !important;
        margin: 0;        
        font-family: "Cerebri Sans";
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        text-transform: capitalize;
        background-color: transparent;
        display: block;
        position: relative;
        cursor: pointer;
        border: none !important;
        outline: none;
    }
    #signin-option>p:nth-child(6){        
        padding: 10px 0;
        margin: 0;
        height: auto;
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        font-size: 15px;
        font-family: "Cerebri Sans";
        color: #4f87fb;
        text-transform: capitalize;
        cursor: pointer;
    }
    .base{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        margin: 12px 0 0 0;
        padding: 15px 0;
    }   
    .base>p{    
        height: 40px;
        width: auto;
        padding: 10px 32px 0 0;
        margin: 0;
        font-family: "Cerebri Sans";
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
    }
    .base>input[type=submit]{    
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: Cerebri Sans;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    #signin-option ::placeholder, #register-option ::placeholder{
        color: #616161 !important;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }
    /* 
        STYLING THE JOIN SPLEET OPTION
    */
    #register-option>p{
        font-family: 'Cerebri Sans';
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        text-transform: capitalize;
        padding: 42px 0 24px 0;
        margin: 0;
    }
    #register-option>form{
        width: 100%;
        height: 100% !important;
        padding: 0;
        margin: 0;
        display: block !important;
        position: relative;
    }
    #register-option>form>div{
        height: 48px;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
    }
    #register-option>form>div+div{
        margin: 5.5px 0;
        padding: 0;
    }
    #register-option>form>div>input{
        height: 48px;
        width: 100%;
        padding: 10px 5px 10px 40px;
        margin: 0;
        border-radius: 4px;
        border: 1px solid #909398;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px;    
    }
    #register-option>form>div>input[type=submit]{    
        height: 48px;
        width: 100%;
        padding: 12px 0;
        margin: 15px 0 !important;
        border-radius: 4px;
        border: none;
        background-color: #4285f4;  
        color: #ffffff; 
        position: relative;
        display: block; 
        text-transform: capitalize;
        font-family: "Cerebri Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    #register-option>p:nth-child(4){
        text-align: center;
        color: #616161;
        display: block;
        position: relative;
        font-size: 15px;
        font-family: "Cerebri Sans";
        text-transform: capitalize;
        padding: 15px 0;
        margin: 0;
    }
    #register-option>p:nth-child(4)>span{
        color: #4f87fb;
    }
    #register-option>.baseOpt{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        margin: 0;
        padding: 15px 0;
    } 
    #register-option>.baseOpt>p{    
        height: 40px;
        font-family: Cerebri Sans;
        font-size: 15px;
        line-height: 1.47;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
        width: auto;
        padding: 10px 32px 0 0 !important;
        margin: 0;
    }
    #register-option>.baseOpt>input[type=submit]{    
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    /* MAIN PAGE */
    #container{
        width: 100% !important;
        height: 100% !important;
        display: block;        
        position: relative;
        bottom: 0;
        background-image: url("../assets/images/bg-image@3x.jpg");
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: top right;
        z-index: 1;
    }
    #wrapper{
        width: 100% !important;
        height: 100% !important;
        padding: 10px 3% 0 3%;
        margin: 0;
        background-color: transparent;
        z-index: 2;
        position: relative;
        display: block;
    }
    /* START RULE FOR NAVIGATION */
    .navigation{
        width: 100%;
        height: auto;
        padding: 0 50px;
        margin: 0;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
        position: relative;
        background-color: #ffffff;
    }    
    .navigation>div.logo{
        width: 60px;
        height: 60px;
        padding: 0;
        margin: 0;
        display: block;
        float: left;
        position: relative; 
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/icons/spleet-2-2@2x.png"); 
    }
    .navigation>div.links{
        width: calc(100% - 60px);
        height: auto;
        padding: 0;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    .navigation>div.links ul{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
        position: relative;
        text-align: right;
    }
    .navigation>div.links ul>li{
        height: auto;
        width: auto;
        padding: 0;
        margin: 0;        
        display: inline-block;
        position: relative;
    }  
    .navigation>div.links ul>li a{
        display: block;
        height: 60px;
        width: auto;
        padding: 20px 10px;
        margin: 0;
        cursor: pointer;
        font-family: "CerebriSans-Medium";
        font-size: 16px;
        outline: none;
        text-transform: capitalize;     
        text-decoration: none;   
        color: #121212;
        opacity: 0.7;
        transition: color 0.4s ease-out;
    }
    .navigation>div.links>ul>li a.active{
        color: #4f87fb;
        opacity: 1 !important;
    }
    /* DONT FORGET TO ADD CLASS ACTIVE TO LINKS */

    .navigation>div.links>ul>li a:before {
        position: absolute;    
        content: "";    
        width: 0;    
        height: 2px;    
        background-color: #4f87fb;
        left: auto;    
        margin-left: -15px;    
        bottom: 0;    
        opacity: 0;    
        -webkit-transform: translateX(15px);    
        -moz-transform: translateX(15px);
        -ms-transform: translateX(15px);
        -o-transform: translateX(15px);
        transform: translateX(15px);
        -webkit-transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);    
        transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    }
    .navigation>div.links>ul>li a:hover:before {
        width: 50px;
        margin: auto;    
        opacity: 1;    
        -webkit-transform: translateX(0);    
        -moz-transform: translateX(0);    
        -ms-transform: translateX(0);
        -o-transform: translateX(0);    
        transform: translateX(0)
    }
    .navigation>div.links .signUp{
        height: 60px;
        width: auto;
        padding: 10px 0 10px 15px;
        margin: 0;
        display: block;
        position: relative;
        float: right;
    }
    .navigation .links ul input[type=button]{
        height: 40px;
        width: auto;
        margin: 0;
        padding: 10px 20px;
        border-radius: 20px;
        color: #ffffff;
        background-color: #4f87fb;
        border: none;
        box-shadow: none;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        cursor: pointer;
        outline: none;
    }
    .navigation .links ul input[type=button]:hover{
        box-shadow: 0 2px 15px 0 rgba(79, 135, 251, 0.5);
        cursor: pointer;
    }
    /* END OF NAVIGATION RULE */

    /* RULE FOR JUMBOTRON */
    .jumbotron{
        width: 100%;
        height: auto;
        padding: 100px 50px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    .jumbotron>p{
        font-family: "Cerebri Sans";
    }
    .jumbotron>p:first-child{
        font-size: 45px;
        font-weight: 600;
        text-align: left;
        color: #4f87fb;
        padding: 15px 0;
        margin: 0;  
    }
    .jumbotron>p:nth-child(2){
        font-size: 24px;
        font-weight: 300;
        height: auto;
        text-align: left;
        color: #454f66;
        padding: 0;
        margin: 0;   
    }
    .jumbotron>p>span{
        color: #4f87fb;
    }
    /* END OF RULE FOR JUMBOTRON */

    /* RULE FOR SEARCH ROW */
    .search-row{
        width: 100%;
        height: auto;
        padding: 40px 50px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    .search-row>form{
        width: 100%;
        height: 80px;
        border-radius: 40px;
        padding: 20px 35px;
        margin: 0;
        background-color: #4f87fb;         
        box-shadow: 0 4px 40px 0 rgba(79, 135, 251, 0.4);
    }
    form>.row{
        width: calc((100% - 150px)/3);
        height: 40px;
        padding: 5px 20px 5px 50px;
        margin: 0;
        display: block;
        float: left;
        position: relative;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px 10px; 
    }
    .row>input{
        width: 100%;
        height: 30px;
        outline: none;
        border: none;
        background-color: transparent;
        color: #ffffff !important;
        font-size: 16px;
        font-family: "CerebriSans Light";
        text-transform: capitalize;
        -webkit-appearance: menulist;
        -moz-appearance: menulist; 
        appearance: menulist;
        cursor: pointer;
    }
    .row>input:focus{        
        color: #ffffff !important;
        font-size: 16px;
        font-family: "CerebriSans Light";
        text-transform: capitalize;
        -webkit-appearance: menulist;
        -moz-appearance: menulist; 
        appearance: menulist;
    }
    .row>input::placeholder{
        color: #ffffff !important;
        font-size: 16px;
        font-family: "CerebriSans Light";
        text-transform: capitalize;
    }   
    .row>input[type=text]{
        height: 30px;
        width: 100%;
        padding: 5px 0;
        margin: 0;
        border-bottom: solid 1px #ffffff;
        outline: none;
        color: #ffffff;
        font-family: "CerebriSans Light";
        line-height: 25px;
        font-size: 16px;
        position: relative;
    }
    .row:nth-child(1){     
        background-image: url("../assets/icons/ic-location-on-24-px.png");    
    }
    .row:nth-child(2){     
        background-image: url("../assets/icons/ic-location-city-24-px.png");    
    }
    .row:nth-child(3){     
        background-image: url("../assets/icons/ic-access-time-24-px.png");   
    }
    form>input[type=submit]{
        width: 150px;
        height: 40px;
        padding: 7.5px 0;
        border-radius: 20px;
        background-color: #ffffff;
        box-sizing: border-box;
        border-style: none;                
        line-height: 25px;
        font-size: 20px;
        font-weight: 500;
        font-family: "Cerebri Sans";
        cursor: pointer;
        text-align: center;
        color: #4f87fb;
        margin: 0;
        display: block;
        float: right;
        outline: none;
        text-transform: capitalize;
    }
    /* END OF SEARCH RULE */

    /* FEATURE ROW */
    #features, #reviews, #trending, #questions{
        width: 100%;
        height: 100%;
        padding: 15px 8.5%;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #features>.feature-header, #reviews>.reviews-header, #trending>.trending-header, #questions>.questions-header{
        width: 100%;
        height: auto;
        padding: 50px 15px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #features>.feature-header>p, #reviews>.reviews-header>p, #trending>.trending-header>p, #questions>.questions-header>p{
        font-size: 30px;
        font-weight: 500;
        padding: 0;
        margin: 0;
        font-family: "Cerebri Sans";
        text-align: center;
        text-transform: uppercase;
        color: #454f66;
        display: block;
        position: relative;
    }
    #features>.feature-column{
        width: calc(100% / 3);
        height: auto;
        display: block;
        float: left;
        padding: 0 25px 0 20px;
        margin: 0;
    }
    #features>.feature-column>.image{
        height: auto;
        width: auto;
        border-radius: 50px;
        padding: 0;
        margin: 0 0 5px 0;
        display: block;
        position: relative;
    }
    #features>.feature-column>.image>img{
        height: 100px;
        width: 100px;
        padding: 0;
        margin: 0 0 0 -20px;
        display: block;
        position: relative;
    }
    #features>.feature-column>.caption{
        margin: 0;
        padding: 5px 0;
        text-transform: uppercase;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        color: #454f66;
        display: block;
        position: relative;
    }
    #features>.feature-column>.body p{  
        padding: 15px 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        font-family: "CerebriSans-Regular"; 
        text-align: left;  
        color: #454f66;
        display: block;
        position: relative;
    }

    /* REVIEWS CONTENT */
    #reviews>.review-column.image{
        height: 350px;
        width: 350px;
        border-radius: 175px;
        padding: 0;
        margin: 0;
        display: block;
        float: left;
        position: relative;
        background-position: top bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/images/3.jpg");
    }
    #reviews>.review-column.text{
        height: 350px;
        width: calc(100% - 350px);
        padding: 20px 0 20px 70px;
        margin: 0;
        display: block;
        float: left;
        position: relative;
    }
    #reviews>.review-column.text>p{
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 24px;
        font-weight: 500;
        font-style: italic;
        font-family: "Cerebri Sans";
        color: #454f66;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    #reviews>.review-column.text>p>span{
        width: 100%;
        height: 40px;
        padding: 10px 0;
        margin: 0;
        display: block;
        position: relative;
        text-align: left;
        font-size: 18px;
        color: #454f66;
        font-family: "CerebriSans Light";
    }

    #trending>p{
        font-size: 20px;
        font-weight: lighter;
        font-family: "Cerebri Sans";
        float: left;
        display: block;
        text-align: left;
        color: #454f66;
        text-transform: capitalize;
        margin: 0;
        padding: 15px 0;
        width: 100%;
        height: 60px;
    }
    #trending>.trending-column,#trending>.trending-column.locations{
        width: calc(100%/4);
        height: auto;
        padding: 0 10px;
        margin: 0;
        position: relative;
        display: block;
        float: left;
    }
    #trending>.trending-column.locations>.place{
        height: 350px;
        width: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px;
    }
    #trending>.trending-column>.image{
        width: 100%;
        height: 177px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px 4px 0 0;
        background-image: url("../assets/images/joseph.jpg");
    }
    #trending>.trending-column>.details{
        padding: 10px;
        margin: 0;
        width: 100%;
        height: auto;        
        position: relative;
        display: block;
        border: solid 1px #d8d8d8;
        border-radius: 0 0 4px 4px;
    }
    #trending>.trending-column>.details>p{
        width: 100%;
        height: auto;
        padding: 1px 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #trending>.trending-column>.details>p:nth-child(1){            
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        text-align: left;
        color: #454f66;
        text-transform: capitalize;
    }
    #trending>.trending-column>.details>p:nth-child(2){
        font-size: 15px;
        font-weight: 300;
        color: #454f66; 
        font-family: "CerebriSans Light"; 
    }
    #trending>.trending-column>.details>p:nth-child(3){
        font-size: 15px;
        font-weight: 300;
        color: #454f66; 
        font-family: "CerebriSans Light"; 
    }

    #questions>p{
        padding: 0 0 20px 0;
        margin: 0;   
        font-size: 22px;
        font-weight: 300;
        font-family: "CerebriSans-Medium";
        text-align: center;
        color: #454f66;
        display: block;
        position: relative;
    }
    #questions>.question-answer{
        width: 80%;
        padding: 0;
        margin: auto;
        height: auto;
    }
    #questions>.question-answer>p{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;    
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        font-family: "CerebriSans Light";
        color: #454f66;
        display: block;
        position: relative;
    }

    #picture{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 50px 0;
        display: inline-block;
        position: relative;
    }
    #picture>.image{
        width: calc(100% / 3);
        height: 500px;
        display: block;
        float: left;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    #footer{
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
    }
    #footer>.logo{
        width: 200px;
        height: 100%;
        padding: 0 50px;
        float: left;
        display: block;
        position: relative;
        background-color: #ffffff;
    }
    #footer>.logo>.spleetlogo{
        width: 60px;
        height: 60px;
        padding: 0;
        margin: auto;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-image: url("../assets/icons/spleet-2-2@2x.png"); 
    }
    #footer>.footer-content{
        width: calc(100% - 200px);
        height: auto;
        padding: 40px 75px;
        margin: 0;
        display: block;
        float: left;
        opacity: 0.9;
        background-color: #4f87fb;
    }
    #footer>.footer-content>.footer-column{
        width: calc(100% / 5);
        height: auto;
        padding: 0 10px;
        margin: 0;
        display: block;
        float: left;
    }
    #footer>.footer-content>.footer-column>.title{
        height: auto;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        display: block;
        position: relative;
    }    
    #footer>.footer-content>.footer-column>.title>p{
        font-size: 18px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        line-height: 1.4;
        padding: 0;
        margin: 0;
        text-align: left;
        color: #ffffff;
        text-transform: capitalize;
    }
    #footer>.footer-content>.footer-column>p{
        font-size: 16px;
        font-weight: 500 !important;
        font-family: "CerebriSans Light";
        text-align: left;
        color: #ffffff !important;
        text-transform: capitalize;
        display: block;
        position: relative;
        float: left;
        opacity: .8;
        padding: 5px 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .footer-column>.title>div{
        width: 30px;
        height: 30px;
        padding: 0 10px;
        margin: 0;
        display: inline-block;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    .footer-column>.title>div.facebook{
        background-image: url("../assets/icons/facebook.png");
    }
    .footer-column>.title>div.twitter{
        background-image: url("../assets/icons/twitter.png");
    }
    .footer-column>.title>div.instagram{
        background-image: url("../assets/icons/instagram.png");
    }
    .footer-column>.title>div.google{
        background-image: url("../assets/icons/google-plus.png");    
    }    
    .footer-content>p{
        width: 100%;
        height: auto;
        padding: 5px 0;
        margin: 0;
        display: block;
        float: left;
        text-align: right;
        position: relative;
        font-size: 16px;
        font-weight: 400;
        font-family: "CerebriSans-Medium";
        color: #454f66;
    } 
}

@media screen and (max-width: 767px){
    #container{
        width: 100%;
        height: 450px;
        display: inline-block;
        position: relative;
        background-attachment: fixed;
        background-image: url("../assets/images/bg-image@3x.jpg");
        background-repeat: no-repeat;
        background-size: 75% 100%;
        background-position: top right;
        z-index: 1;
    }
    #wrapper{
        width: 100%;
        height: 100%;
        padding: 10px 5%;
        margin: 0;        
        background-color: transparent;
        z-index: 2;
    }
    /* START RULE FOR NAVIGATION */
    .navigation{
        width: 100%;
        height: 60px;
        padding: 0 5px;
        margin: 0;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
        position: relative;
        background-color: #ffffff;
    }  
    .navigation>div.logo{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 1;
        display: block;
        position: relative; 
    }
    .navigation>div.logo .image{
        width: 60px;
        height: 60px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/icons/spleet-2-2@2x.png"); 
    }
    .navigation>div.links{
        width: 100%;
        height: 0;
        padding: 0 5px;
        margin: 0;
        display: block;
        opacity: 0;
        position: relative;
        background-color: #ffffff;
    }
    .navigation>div.links ul{
        width: 100%;
        height: 100%;
        padding: 0 5px;
        margin: 0;
        list-style: none;
        display: inline-block;
        position: relative;
    }
    .navigation>div.links ul>li{
        height: 40px;
        width: 100%;
        padding: 10px 0;
        margin: 0;        
        display: block;
        float: left;
        position: relative;
        cursor: pointer;
        font-family: "CerebriSans-Regular";
        font-size: 16px;
        outline: none;
        text-transform: capitalize;        
        color: #454f66;
    }        
    .navigation>div.links .signUp{
        height: auto;
        width: 100%;
        padding: 5px 0 0 0;
        margin: 0;
        display: block;
        position: relative;
        border-top: 1px solid #4f87fb;
        float: right;
    }
    .navigation .links ul input[type=button]{
        height: auto;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        color: #ffffff;
        background-color: #4f87fb;
        border: none;
        box-shadow: none;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Regular";
        cursor: pointer;
        outline: none;
    }
    /* END OF NAVIGATION RULE */
    /* RULE FOR JUMBOTRON */
    .jumbotron{
        width: 100%;
        height: auto;
        padding: 0 5px;
        margin: 10% 0;
        display: inline-block;
        position: relative;
    }
    .jumbotron>p{
        font-family: "Cerebri Sans";
    }
    .jumbotron>p:first-child{
        font-size: 35px;
        font-weight: 600;
        text-align: left;
        color: #4f87fb;
        padding: 15px 0;
        margin: 0;  
    }
    .jumbotron>p:nth-child(2){
        font-size: 24px;
        font-weight: 300;
        height: auto;
        text-align: left;
        color: #454f66;
        padding: 0;
        margin: 0;   
    }
    .jumbotron>p>span{
        color: #4f87fb;
    }    
    /* END OF RULE FOR JUMBOTRON */

    /* SEARCH RULE */
    .search-row{
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        display: inline-block;
    }
    form{
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 20px;
        border: 1px solid #4f87fb;
    }
    form>.row input{
        display: none;
    }
    form>.row input[type=text], form>.row input[type=text]:focus{
        height: 40px;
        width: 70%;
        padding: 5px 5px 5px 20px;
        margin: 0;
        display: block;
        float: left;
        border: none;
        outline: none;
        border-radius: 20px 0 0 20px;
        color: #454f66;
        text-transform: capitalize;
    }
    form>input[type=submit]{
        width: 30%;
        height: 40px;
        display: block;
        float: left;
        padding: 10px 0;
        margin: 0;
        border: none;
        outline: none;
        border-radius: 0 20px 20px 0;
        background-color: #4f87fb;
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        text-transform: capitalize;
    }
    ::-moz-placeholder{
        text-transform: capitalize;
        font-family: "CerebriSans-Medium";
        padding: 10px 0;
    }
    /* END OF SEARCH */

    /* FEATURE ROW */
    #features, #reviews, #trending, #questions{
        width: 100%;
        height: auto;
        padding: 10px 5%;
        margin: 0;
        display: inline-block;
        position: relative;
    }    
    .feature-header, #reviews>.reviews-header, #trending>.trending-header, #questions>.questions-header{
        width: 100%;
        height: 60px;
        padding: 10px 0;
        margin: 15px 0 0 0;
        display: inline-block;
        position: relative;
    }
    .feature-header>p, #reviews>.reviews-header>p, #trending>.trending-header>p, #questions>.questions-header>p{
        font-size: 24px;
        padding: 5px 0;
        margin: 0;
        font-weight: 500;
        font-family: "Cerebri Sans";
        text-align: center;
        text-transform: uppercase;
        color: #454f66;
        display: block;
        position: relative;
    }
    #features>.feature-column{
        width: 100%;
        height: auto;
        padding: 0.5% 3%;
        margin: 15px 0 0 0;
        display: block;
        float: left;
        position: relative;
    }
    .feature-column>.image{
        height: auto;
        width: auto;
        border-radius: 25px;
        padding: 0;
        margin: 0 0 5px 0;
        display: block;
        position: relative;
    }
    .feature-column>.image>img{
        height: 75px;
        width: 75px;
        padding: 0;
        margin: 0 0 0 -10px;
        display: block;
        position: relative;
    }
    .feature-column>.caption{
        margin: 0;
        padding: 7.5px 0;
        text-transform: uppercase;
        text-align: left;
        font-size: 20px;
        font-weight: lighter;
        font-family: "CerebriSans-Medium";
        color: #454f66;
        display: block;
        position: relative;
    }
    .feature-column>.body p{  
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        font-family: "CerebriSans-Regular"; 
        text-align: justify;  
        color: #454f66;
        display: block;
        position: relative;
    }

    /* REVIEWS ROW */
    #reviews>.review-column.image{
        height: 200px;
        width: 200px;
        padding: 0;
        margin: 25px auto;
        border-radius: 100px;
        display: block;
        position: relative;
        box-shadow: 0 4px 40px 0 rgba(79, 135, 251, 0.4);
        background-position: top bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/images/1.png");
    }
    #reviews>.review-column.text{
        height: auto;
        width: 100%;
        padding: 20px 3%;
        margin: 0;
        display: block;
        position: relative;
    }
    #reviews>.review-column.text>p{
        padding: 5px 10%;
        margin: 0;
        text-align: justify;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        font-family: "Cerebri Sans";
        color: #454f66;
        display: block;
        position: relative;
    }
    #reviews>.review-column.text>p>span{
        width: 100%;
        height: 20px;
        padding: 7.5px 0;
        margin: 0;
        display: block;
        position: relative;
        float: left;
        text-align: left;
        font-size: 14px;
        color: #454f66;
        font-family: "CerebriSans Light"
    }

    /* TRENDING */
    #trending>p{
        font-size: 18px;
        font-weight: lighter;
        font-family: "Cerebri Sans";
        text-transform: capitalize;
        text-align: left;
        color: #454f66;
        margin: 0;
        padding: 10px 0;
        width: 100%;
        display: block;
        float: left;
        position: relative;
    }
    #trending>.trending-column, #trending>.trending-column.locations{
        width: 100%;
        height: auto;
        display: block;
        float: left;
        margin: 0;
        padding: 5px 3%;
    }
    #trending>.trending-column>.image{
        height: 170px;
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;  
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px 4px 0 0;
        background-image: url("../assets/spacesImg/rectangle-3@3x.jpg");
    }
    #trending>.trending-column>.details{
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 0;
        position: relative;
        display: block;
        border: solid 1px #d8d8d8;
        border-radius: 0 0 4px 4px;
    }
    #trending>.trending-column>.details>p{
        width: 100%;
        height: auto;
        padding: 1px 0;
        margin: 0;
        position: relative;
        display: block;
    }
    #trending>.trending-column>.details>p:nth-child(1){
        padding: 2px 0;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: "Cerebri Sans";
        text-align: left;
        text-transform: capitalize;
        color: #454f66;
        position: relative;
        display: block;
    }
    #trending>.trending-column>.details>p:nth-child(2),
    #trending>.trending-column>.details>p:nth-child(3){
        padding: 2px 0;
        margin: 0;
        font-size: 13px;
        font-weight: 300;
        font-family: "CerebriSans Light";
        text-align: left;
        text-transform: capitalize;
        color: #454f66;
        position: relative;
        display: block;
    }

    /* Locations */    
    #trending>.trending-column.locations>.place{
        height: 400px;
        width: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px;
    }

    /* QUESTIONS */
    #questions>p{
        padding: 0 0 20px 0;
        margin: 0;   
        font-size: 16px;
        font-weight: 300;
        font-family: "CerebriSans-Medium";
        text-align: center;
        color: #454f66;
        display: block;
        position: relative;
    }
    #questions>.question-answer{
        width: 100%;
        padding: 16px 3%;
        margin: auto;
        height: auto;
    }
    #questions>.question-answer>p{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;    
        text-align: justify;
        font-size: 16px;
        font-weight: 300;
        font-family: "CerebriSans Light";
        color: #454f66;
        display: block;
        position: relative;
    }

    /* PICTURE ROW */
    #picture-row{
        display: none;
    }

    /* FOOTER RULE */
    #footer{
        width: 100%;
        height: auto;
        padding: 0 3%;
        margin: 0;
        left: 0;
        right: 0;
        background-color: #4f87fb;
        display: inline-block;
        position: relative;
    }
    #footer>.footer-content{
        width: 100%;
        height: auto;
        padding: 5px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #footer>.footer-content>.footer-column{
        display: none;
    }
    #footer>.footer-content>.footer-column:nth-child(4),
    #footer>.footer-content>.footer-column:nth-child(5){
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }    
    #footer>.footer-content>.footer-column>.title{
        height: auto;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        display: block;
        position: relative;
    }    
    #footer>.footer-content>.footer-column>.title>p{
        font-size: 16px;
        font-weight: 300;
        font-family: "CerebriSans-Medium";
        line-height: 1.4;
        padding: 0;
        margin: 0;
        text-align: left;
        color: #ffffff;
        text-transform: capitalize;
    }
    #footer>.footer-content>.footer-column>p{
        font-size: 14px;
        font-weight: 300 !important;
        font-family: "CerebriSans Light";
        text-align: left;
        color: #ffffff !important;
        text-transform: capitalize;
        display: block;
        position: relative;
        float: left;
        opacity: .8;
        padding: 5px 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
    #footer>.footer-content>.footer-column>.title>div{
        width: 30px;
        height: 30px !important;
        padding: 0 10px;
        margin: 0;
        display: inline-block;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    #footer>.footer-content>.footer-column>.title>div.facebook{
        background-image: url("../assets/icons/facebook.png");
    }
    #footer>.footer-content>.footer-column>.title>div.twitter{
        background-image: url("../assets/icons/twitter.png");
    }
    #footer>.footer-content>.footer-column>.title>div.instagram{
        background-image: url("../assets/icons/instagram.png");
    }
    #footer>.footer-content>.footer-column>.title>div.google{
        background-image: url("../assets/icons/google-plus.png");    
    }
    #footer>.footer-content>p{
        width: 100%;
        height: 35px;
        margin: 0;
        padding: 5px 0;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        color: #ffffff;
        font-family: "CerebriSans Light";
        display: block;
        position: relative;
        border-top: 2px solid #d8d8d8; 
    }
}
