@font-face{
    font-family: "Cerebri-Sans";
    src: url("../fonts/CerebriSans-Book.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Light";
    src: url("../fonts/CerebriSans-Light.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Medium";
    src: url("../fonts/CerebriSans-Medium.otf") format("opentype")
}
@font-face{
    font-family: "CerebriSans-Regular";
    src: url("../fonts/CerebriSans-Regular.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Italic";
    src: url("../fonts/CerebriSans-Italic.otf") format("opentype");
}
::-webkit-scrollbar{
    width: 7.5px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #4787fb;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #4787fb;
}
html,body{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: inline-block;
}
body::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #121212;
    opacity: 0.7;
    z-index: 2;
    display: none;
    overflow: hidden !important;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}
.fa{
    background-color: transparent;
    color: #4785fb;
}
.footer-column>div>i.fa{
    color: #ffffff;
    background-color: transparent;
}
.row>i{
    margin-left: -45px;
}
.row>.fa{
    color: #ffffff;
    font-size: 26px;
}


/*
    THIS THE RULE FOR DESKTOP SCREENS
*/
@media screen and (min-width: 768px){
    /* FORM FOR REGISTER SPACE */
    #formSpaceRegister{
        width: 487px;
        padding: 0 49px;
        height: auto;
        margin: auto;
        left: 0;
        right: 0;
        background-color: #ffffff;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;
        position: absolute;
        display: none
    }
    #formSpaceRegister>.close{
        position: absolute;
        top: 15px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 20px;
        margin: 0;
        right: 20px;
        background-size: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("../assets/icons/close@2x.png");
        background-color: #ffffff;
        display: inline-block;
        z-index: 5;
        cursor: pointer;
    }
    #formSpaceRegister>div.header>h4{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 40px 0;
        text-transform: none;
        font-family: "Cerebri-Sans";
        font-size: 24px;
        font-weight: 500;
        color: #121212;
    }
    #formSpaceRegister>span{
        width: 100%;
        height: auto;
        padding: 5px 0 0 0;
        text-align: left;
        text-transform: none;
        font-family: "CerebriSans-Italic";
        font-size: 16px;
        font-weight: 300;
        color: #4787fb;
        display: block;
        position: relative;
    }
    #formSpaceRegister>form.spaceRegister{
        width: 100%;
        height: auto;
        padding: 0 0 20px 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #formSpaceRegister>form.spaceRegister>div{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 5px 0 0 0;
        padding: 0 0 0 10px;
        border-radius: 4px;
        border: 1px solid #616161;
        background-image: none;
    }
    #formSpaceRegister>form>div>div, #formSpaceRegister>form>div>div>div{
        width: 45px;
        height: 40px;
        display: block;
        float: left;
        position: relative;
        padding: 7.5px 5px;
        background-image: none;
    }
    #formSpaceRegister>form.spaceRegister>div>div>i,#formSpaceRegister>form.spaceRegister>div>div>div>i{
        width: 100%;
        height: 100%;
    }
    #formSpaceRegister>form.spaceRegister>div>div>i.fa,#formSpaceRegister>form.spaceRegister>div>div>div>i.fa{
        color: #4787fb;
        font-size: 24px;
        font-weight: 500;
    }
    #formSpaceRegister>form.spaceRegister>div>input, #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>input{
        width: calc(100% - 45px) !important;
        height: 40px;
        padding: 0 15px 0 0;
        border-radius: 0 4px 4px 0;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        border: none;
        color: #616161;
        font-size: 15px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        text-transform: capitalize;
        background-image: none;
    }
    #formSpaceRegister>form.spaceRegister>div>input[type=email]{
        text-transform: none;
    }
    #formSpaceRegister>form.spaceRegister>div>input::placeholder{
        margin: 0;
        padding: 20px 0;
        width: 100%;
        height: 100%;
        color: rgb(137, 135, 135)
    }

    #formSpaceRegister>form.spaceRegister>div.spaceDetails{
        width: 100%;
        height: 120px;
        display: block;
        overflow-y: auto;
        position: relative;
        border-radius: 4px;
        overflow: auto;
        overflow: auto;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space{
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>div.dateAndTime{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        padding: 0 0 0 45px;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>div.dateAndTime>div{
        width: 50%;
        height: auto;
        display: block;
        float: left;
        position: relative;
        padding: 5px 10px 5px 0;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>div.dateAndTime>div>span{
        width: 100%;
        display: block;
        text-align: left;
        font-size: 14px;
        font-family: "CerebriSans-Light";
        font-weight: 400;
        padding: 5px 0 0 0;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>div.dateAndTime>div>input{
        width: 100%;
        height: 30px;
        outline: none;
        border: none;
        display: block;
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        color: #616161;
        font-size: 14px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        text-transform: uppercase;
    }
    #formSpaceRegister>form.spaceRegister>div.addMoreSpace{
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
        border: none;
        border-radius: 0;
        opacity: 0.7;
    }
    #formSpaceRegister>form.spaceRegister>div.addMoreSpace>div{
        width: auto;
        height: auto;
        display: block;
        float: left;
        position: relative;
        padding: 0;
    }
    #formSpaceRegister>form.spaceRegister>div.addMoreSpace>h5{
        width: auto;
        height: auto;
        padding: 2px 25px;
        display: block;
        position: relative;
        cursor: pointer;
        color: #616161;
        font-size: 15px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        text-transform: capitalize;
        text-align: left;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceSubmit{
        margin: 15px 0 0 0;
        padding: 0;
        border: none;
        border-radius: 0;
        height: 100%;
        width: 100%;
        background-color: #4787fb;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceSubmit>input[type=submit]{
        width: 100% !important;
        height: 40px;
        display: block;
        position: relative;
        cursor: pointer;
        background-color: transparent;
        color: #ffffff;
        text-transform: none;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        outline: none;
        border: none;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceSubmit>input[type=submit]:focus{
        outline: none;
        border: none;
    }

    /* FORMS GROUP */
    .formRow{
        width: 458px;
        height: auto;
        margin: auto;
        padding: 0 49px !important;
        background-color: #ffffff;
        z-index: 5;
        position: absolute;
        left: 0;
        right: 0;
        top: 50% !important;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateY(-50%);
        user-select: none;
        display: block;
        z-index: 6;
    }
    #signup-options>.close, #signin-option>.close, #register-option>.close{
        position: absolute;
        top: 15px;
        right: -30px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 20px;
        margin: 0;
        background-size: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("../assets/icons/close@2x.png");
        background-color: #ffffff;
        display: inline-block;
        z-index: 5;
        cursor: pointer;
    }
    #signup-options, #signin-option, #register-option{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 !important;
        background-color: transparent;
        position: relative;
        box-sizing: border-box;
        user-select: none;
        z-index: 5;
        display: none;
    }
    /*  STYLING THE SIGNUP OPTIONS */
    #signup-options>div{
        width: 100%;
        height: 48px;
        padding: 12px 15px;
        margin: 8px 0 0 0;
        display: block;
        position: relative;
        background: transparent;
    }
    #signup-options>div>i{
        height: 24px;
        width: 25px;
        display: block;
        float: left;
        padding-left: 20px;
    }
    #signup-options>div>i.fa{
        color: #ffffff;
        font-size: 24px;
    }
    #signup-options>div.facebook{
        background-color: #3b5197;
        cursor: pointer;
    }
    #signup-options>div.google{
        background-color: #4285f4;
        cursor: pointer;
    }
    #signup-options>div.emailOpt{
        background-color: #ad092b;
        cursor: pointer;
    }
    #signup-options>p{
        width: 100%;
        font-family: "Cerebri-Sans";
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        padding: 42px 0 20px 0;
        margin: 0;
        text-transform: capitalize;
    }
    #signup-options>span{
        text-align: center;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        color: #616161;
        padding: 5px 0 0 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
    }
    #signup-options>.agree{
        font-family: "Cerebri-Sans";
        font-size: 13px;
        line-height: 1.54;
        text-align: center;
        color: #636b7a;
        padding: 4px 5px;
        margin: 8px 0 0 0;
    }
    .facebook>p>a, .google>p>a, .emailOpt>p{
        font-family: "Cerebri-Sans";
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-align: center !important;
        text-decoration: none;
        color: #ffffff;
        background-color: transparent;
        height: 24px;
        padding: 3px 0;
        margin: 0;
        width: calc(100% - 24px);
        height: 100%;
        display: block;
    }
    #signup-options>.baseOpt{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        box-sizing: border-box;
        margin: 23px 0 0 0;
        padding: 15px 0;
    }
    .baseOpt>p{
        height: 40px;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        line-height: 1.47;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
        width: auto;
        padding: 10px 32px 0 0;
        margin: 0;
    }
    .baseOpt>input[type=submit]{
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }

    /* STYLING THE SIGNIN OPTIONS */
    #signin-option>p:nth-child(2){
        font-family: 'Cerebri-Sans';
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        text-transform: capitalize;
        box-sizing: border-box;
        padding: 42px 0 24px 0 !important;
        margin: 0;
    }
    .socialmedia-option{
        display: inline-block;
        position: relative;
        height: 47px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .socialmedia-option>div{
        width: calc(98%/2) !important;
        height: 47px;
        padding: 10px 0;
        margin: 0;
        box-sizing: border-box;
        display: block;
        float: left;
        position: relative;
        border-radius: 2px;
    }
    .socialmedia-option>div.facebookOpt{
        background-color: #3b5197;
        margin: 0 1% 0 0;
        padding-left: 12.5px;
    }
    .socialmedia-option>div.facebookOpt>i, .socialmedia-option>div.googleOpt>i{
        width: 25px;
        height: 24px;
        display: block;
        float: left;
        position: relative;
    }
    .socialmedia-option>div.facebookOpt>i.fa, .socialmedia-option>div.googleOpt>i.fa{
        color: #ffffff;
        font-size: 24px;
    }
    .socialmedia-option>div.googleOpt{
        background-color: #4285f4;
        margin: 0 0 0 1%;
        padding-left: 12.5px;
    }
    .facebookOpt>p>a, .googleOpt>p>a{
        height: 100%;
        width: calc(100% - 25px);
        font-family: "Cerebri-Sans";
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.3px;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        padding: 4px 0;
        margin: 0;
    }
    #signin-option>span{
        text-align: center;
        height: 19px;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        color: #616161;
        padding: 10px 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
    }
    #signin-option>form{
        height: auto;
        width: 100%;
        display: block !important;
    }
    #signin-option>form>div+div{
        height: 48px;
        width: 100%;
        padding: 0;
        margin: 5.5px 0;
        box-sizing: border-box;
        border-radius: 4px;
    }
    #signin-option>form>div input{
        height: 48px;
        width: 100%;
        padding: 10px 5px 10px 40px;;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #909398;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px ;
    }
    div input[type=email]{
        background-image: url("../assets/icons/at.png");
        background-size: 24px 24px;
        width: 100% !important;
        color: #616161;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }
    div input[type=password]{
        background-image: url("../assets/icons/lock.png");
        background-size: 24px 24px;
        color: #616161;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }
    div input[type=checkbox],div input[type=checkbox]:checked{
        margin: 7.5px 0;;
        padding: 0;
        float: left;
        display: block;
        box-sizing: border-box;
    }
    form>p{
        padding: 4px 20px;
        font-family: "Cerebri-Sans";
        font-weight: 500;
        font-size: 15px;
        color: #616161;
        margin: 0;
    }
    form>.submitBtn{
        height: 48px;
        width: 100%;
        display: block;
        position: relative;
        border-radius: 2px;
        padding: 0;
        margin: 5px 0 0 0;
        box-sizing: border-box;
        background-color: #4285f4;
        cursor: pointer;
        outline: none !important;
    }
    form>.submitBtn>input[type=submit]{
        height: 100%;
        width: 100%;
        padding: 12px 0 !important;
        margin: 0;
        font-family: "Cerebri-Sans";
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        text-transform: capitalize;
        background-color: transparent;
        display: block;
        position: relative;
        cursor: pointer;
        border: none !important;
        outline: none;
    }
    #signin-option>p:nth-child(6){
        padding: 10px 0;
        margin: 0;
        height: auto;
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        font-size: 15px;
        font-family: "Cerebri-Sans";
        color: #4f87fb;
        text-transform: capitalize;
        cursor: pointer;
    }
    .base{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        margin: 12px 0 0 0;
        padding: 15px 0;
    }
    .base>p{
        height: 40px;
        width: auto;
        padding: 10px 32px 0 0;
        margin: 0;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
    }
    .base>input[type=submit]{
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    #signin-option ::placeholder, #register-option ::placeholder{
        color: rgb(137, 135, 135) !important;
        font-size: 14px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }

    /*  STYLING THE JOIN SPLEET OPTION  */
    #register-option>p{
        font-family: 'Cerebri-Sans';
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        text-transform: capitalize;
        padding: 42px 0 24px 0;
        margin: 0;
    }
    #register-option>form{
        width: 100%;
        height: 100% !important;
        padding: 0;
        margin: 0;
        display: block !important;
        position: relative;
    }
    #register-option>form>div{
        height: 48px;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
    }
    #register-option>form>div+div{
        margin: 5.5px 0;
        padding: 0;
    }
    #register-option>form>div>input{
        height: 48px;
        width: 100%;
        padding: 10px 5px 10px 40px;
        margin: 0;
        border-radius: 4px;
        border: 1px solid #909398;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px;
    }
    #register-option>form>div>input[type=submit]{
        height: 48px;
        width: 100%;
        padding: 12px 0;
        margin: 15px 0 !important;
        border-radius: 4px;
        border: none;
        background-color: #4285f4;
        color: #ffffff;
        position: relative;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    #register-option>p:nth-child(4){
        text-align: center;
        color: #616161;
        display: block;
        position: relative;
        font-size: 15px;
        font-family: "Cerebri-Sans";
        text-transform: capitalize;
        padding: 15px 0;
        margin: 0;
    }
    #register-option>p:nth-child(4)>span{
        color: #4f87fb;
    }
    #register-option>.baseOpt{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        margin: 0;
        padding: 15px 0;
    }
    #register-option>.baseOpt>p{
        height: 40px;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        line-height: 1.47;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
        width: auto;
        padding: 10px 32px 0 0 !important;
        margin: 0;
    }
    #register-option>.baseOpt>input[type=submit]{
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    /* END OF FORMS */

    /* POP UP ERRORS */
    div#pop-up{
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        background-color: #4787fb;;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
    }
    div#pop-up.active{
        height: 50px;
        padding: 10px 0;
    }
    div#pop-up div.errorMsg{
        width: calc(100% - 25px);
        height: 100%;
        padding: 2.5px 0;
        margin: 0;
        display: block;
        position: relative;
        float: left;
    }
    div#pop-up div.errorMsg p{
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    div#pop-up div.closeIcon{
        width: 25px;
        height: 100%;
        margin: 0;
        padding: 2.5px;
        display: block;
        position: relative;
        float: left;
        cursor: pointer;
    }
    div#pop-up div.closeIcon i.fa{
        font-size: 16px;
        color: #ffffff;
    }

    /* MAIN WRAPPERS */
    #mainWrap{
        width: 100%;
        height: 100vh;
        max-height: 760px;
        position: relative;
        display: block;
        background: transparent;
        padding: 0;
        margin: 0;
    }
    #mainWrap::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        max-height: 760px;
        background-image: url("../assets/images/bg-image@3x.jpg");
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: top right;
        z-index: -1;
    }
    .menu-bar{
        display: none !important;
    }
    /* END OF MAIN WRAPPER */

    /* RULE FOR NAVIGATION */
    #navigation{
        width: 100%;
        height: 60px;
        display: inline-block;
        position: relative;
        top: -5px !important;
        padding: 0 100px;
        margin: 0 !important;
        background-color: #ffffff;
        border-bottom: none;
        border-bottom: 1px solid #4f87fb !important;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    #navigation.active{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        border-bottom: 1px solid #4f87fb !important;
        z-index: 4;
    }
    #navigation>.companyLogo{
        float: left;
        display: block;
        position: relative;
        padding: 5px 0;
        height: 100%;
        width: 50px;
    }
    #navigation>.companyLogo>a{
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
    }
    #navigation>.companyLogo>a img{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    #navigation>.navigationLinks{
        width: calc(100% - 60px);
        height: 100%;
        background-color: #ffffff;
        position: relative;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
    }
    .navigationLinks>ul{
        list-style: none;
        height: 100%;
        width: auto;
        position: relative;
        display: block;
        float: right;
        padding: 0;
        margin: 0;
    }
    .navigationLinks>ul>li{
        width: auto;
        height: 100%;
        display: block;
        position: relative;
        float: left;
    }
    .navigationLinks>ul>li a{
        padding: 20px 0;
        height: 100%;
        width: auto;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        text-transform: none;
        text-decoration: none;
        opacity: 0.7;
        color: #121212;
        transition: color 0.4s ease-out;
        font-family: "CerebriSans-Medium";
        font-size: 16px;
        font-weight: 500;
        margin: 0 10px;
    }
    .navigationLinks>ul>li a.active{
        color: #4f87fb;
        opacity: 1 !important;
    }
    .navigationLinks>ul>li a::before{
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background-color: #4f87fb;
        right: auto;
        margin-right: 50%;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.35s ease-out;
        -o-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out
    }
    .navigationLinks>ul>li a:hover::before{
        width: 100%;
        margin: auto;
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }    
    ul.menulist{
        display: none;
        opacity: 0;
        width: 150px;
        height: auto;
        z-index: 2;
        padding: 10px 10px;
        margin: 0;
        box-shadow: 0 2px 5px 0 #ccc;
        position: absolute;
        top: 110%;
        list-style: none;
        border-radius: 4px;
        background-color: #ffffff;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        outline: none;
        border: none;
    }
    ul.menulist.active{
        display: block;
        opacity: 1;
    }
    ul.menulist::after{        
        height: 0;
        width: 0;
        position: absolute;
        content: '';
        top: -5px;
        left: 10px;
        border-width: 0 6px 7px 6px;
        border-style: solid;
        border-color: #fff transparent;
    }
    ul.menulist li a{
       height: 30px;
       width: 100%;
       padding: 5px 0;
       margin: 0;
       display: block;
       position: relative;
       font-size: 14px;
       font-weight: lighter;
       font-family: "CerebriSans-Light";
       outline: none;
       border: none;
    }
    li.noHover a::before{
        display: none;;
    }
    li.noHover a:hover::before{
        display: none;
    }
    .navigationLinks>ul>li>div.signupBtn{
        padding: 10px 0;
        margin-left: 10px;
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        outline: none;
        border: none;
    }
    .navigationLinks>ul>li>div.signupBtn a{
        height: 40px;
        width: auto;
        border-radius: 20px;
        padding: 10px 15px;
        outline: none !important;
        border: none;
        color: #ffffff;
        background-color: #4f87fb;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        cursor: pointer;
        text-align: center;
        opacity: 1 !important;
    }
    .navigationLinks>ul>li>div.signupBtn a:hover{
        box-shadow: 0 2px 15px 0 rgba(79, 135, 251, 0.5);
        cursor: pointer;
    }

    /* RULE FOR JUMBOTRON */
    .jumbotron{
        width: 100%;
        height: auto;
        padding: 100px 100px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    .jumbotron>p{
        font-family: "Cerebri-Sans";
    }
    .jumbotron>p:first-child{
        font-size: 45px;
        font-weight: 600;
        text-align: left;
        color: #4f87fb;
        padding: 15px 0;
        margin: 0;
    }
    .jumbotron>p:nth-child(2){
        font-size: 24px;
        font-weight: 300;
        height: auto;
        text-align: left;
        color: #454f66;
        padding: 0;
        margin: 0;
    }
    .jumbotron>p>span{
        color: #4f87fb;
    }
    /* END OF RULE FOR JUMBOTRON */

    /* RULE FOR SEARCH ROW */
    .search-row{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        padding: 40px 100px;
    }
    .search-row form.JS{
        width: 100%;
        height: 80px;
        border-radius: 40px;
        display: block;
        position: relative;
        box-shadow: 0 4px 40px 0 rgba(79, 135, 251, 0.4);
        background-color: #4787fb;
        padding: 0 40px;
        z-index: 4;
    }
    .search-row form.JS div.row{
        width: calc((100% - 120px)/3);
        height: 100%;
        padding: 0 10px;
        margin: 0;
        display: block;
        position: relative;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 5;
    }
    .search-row form.JS div.row div{
        width: 26px;
        height: 100%;
        padding: 27px 0;
        margin: 0;
        display: block;
        position: relative;
        float: left;
    }
    .search-row form.JS div.row div i.fa{
        color: #ffffff;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }
    .search-row form.JS div.row span{
        width: calc(100% - 26px);
        height: 100%;
        padding: 30px 15px;
        margin: 0;
        display: block;
        position: relative;
        float: left;
        opacity: 0.7;
        color: #ffffff;
        font-size: 14px;
        font-weight: lighter;
        font-family: "CerebriSans-Medium";
        text-transform: capitalize;
        text-align: left;
        cursor: pointer;
        z-index: 4;
    }
    .search-row form.JS div.row span::after{
        height: 0;
        width: 0;
        position: absolute;
        content: '';
        top: 38px;
        right: 15px;
        border-width: 7px 6px 0 6px;
        border-style: solid;
        border-color: #fff transparent;
    }
    .search-row form.JS div.formIn{
        width: 120px;
        height: 80px;
        padding: 20px 0;
        display: block;
        position: relative;
        float: left;
    }
    .search-row form.JS div.formIn input[type=submit]{
        width: 100%;
        height: 40px;
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: #ffffff;
        box-sizing: border-box;
        border-style: none;
        font-size: 20px;
        font-weight: 500;
        font-family: "Cerebri-Sans";
        text-transform: capitalize;
        cursor: pointer;
        text-align: center;
        color: #4f87fb;
    }
    div.row ul.rowList{
        width: calc(100% - 26px);
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        border-radius: 4px;
        background: white;
        border-radius: inherit;
        border: 1px solid rgba(0,0,0,0.17);
        font-weight: normal;
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
        list-style: none;
        height: auto;
        display: none;
        opacity: 0;
    }
    div.row ul.rowList.active{
        opacity: 1;
        display: block;
    }
    div.row ul.rowList::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 11px;
        border-width: 0 7px 7px 7px;
        border-style: solid;
        border-color: #fff transparent;
    }
    div.row ul.rowList::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 10px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: rgba(0,0,0,0.1) transparent;
    }
    div.row ul.rowList li{
        width: 100%;
        height: 100%;
        display: list-item;
        text-align: left;
    }
    div.row ul.rowList li p{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 5px 10px;
        text-transform: capitalize;
        font-family: "CerebriSans-Light";
        font-size: 14px;
        font-weight: lighter;
        color: #4a4a4a;
        border-bottom: 1px solid #e6e8ea;
        box-shadow: inset 0 1px 0 rgba(255,255,255,1);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        cursor: pointer;
    }
    div.row ul.rowList li p:hover{
        color: #4f87fb;
        cursor: pointer;
    }
    /* END OF SEARCH RULE */
    
    /* FEATURES CONTENT */
    #features{
        padding: 0 125px 40px 125px;
        margin: 0;
        display: inline-block;
        position: relative;
        width: 100%;
        height: auto;
    }
    #features .features-header{
        width: 100%;
        height: auto;
        padding: 50px 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #features .features-header p{
        font-size: 20px;
        font-weight: lighter;
        font-family: "Cerebri-Sans";
        padding: 0;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        color: #454f66;
        display: block;
        position: relative;
    }
    #features .feature-column{
        width: calc(90% / 3);
        height: auto;
        margin: 0 15px;
        padding: 30px 20px;
        display: block;
        position: relative;
        float: left;
        background-color: #ffffff;
        box-shadow: none;
        border: none;
        border-radius: 10px;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        cursor: auto;
        box-shadow: 0 2px 8px 0 rgba(79, 135, 251, 0.4);
        background-color: #ffffff;
    }
    #features .feature-column .caption{
        margin: 0;
        padding: 10px 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-weight: lighter;
        font-family: "CerebriSans-Medium";
        color: #454f66;
        display: block;
        position: relative;
        width: 100%;
    }
    #features .feature-column .body{
        padding: 10px;
        margin: 0;
        display: block;
        position: relative;
        width: 100%;
    }
    #features .feature-column .body p{
        padding: 5px 0;
        margin: 0;
        font-size: 15px;
        font-weight: lighter;
        font-family: "CerebriSans-Regular";
        text-align: center;
        color: #454f66;
    }
    #features .feature-column .body p span{
        color: #4285f4;
    }
    #features .feature-column .icons{
        position: absolute;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background-color: #4785fb;
        left: 0;
        right: 0;
        bottom: -30px;
        margin: 0 auto;
        outline: none;
        border: none;
        box-shadow: 0;
    }
    #features .feature-column .icons i{
        width: 100%;
        height: 100%;
        display: block;
        padding: 12px !important;
        margin: 0;
    }
    #features .feature-column .icons i.fa{
        color: #ffffff;
        font-size: 35px;
        text-align: center;
        padding: 0;
    }
    /* END OF FEATURE CONTENT */
    
    /* START OF TRENDING ROW */
    #trending{
        width: 100%;
        height: auto;
        padding: 50px 120px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #trending div.trending-header{
        width: 100%;
        padding: 10px 0 40px 0 ;
        display: block;
        position: relative;
    }
    #trending div.trending-header p{
        font-size: 20px;
        font-weight: lighter;
        font-family: "Cerebri-Sans";
        padding: 0;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        color: #454f66;
        display: block;
        position: relative;
    }
    #trending div.trending-header p span{
        color: #4785fb;
    }
    #trending div.trending-column{
        width: 50%;
        height: 100px;
        max-height: 80px;
        display: block;
        position: relative;
        float: left;
        padding: 10px 30px;
        margin: 15px 0;
        outline: none;
    }
    #trending div.trending-column div.icons{
        width: 50px;
        height: 50px;
        max-height: 100%;
        padding: 10px 5px;
        margin: 0;
        display: block;
        float: left;
        position: relative;
        border-radius: 25px;
        background-color: rgba(79, 135, 251, 0.15);
    }
    #trending div.trending-column div.icons i{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #trending div.trending-column div.icons i.fa{
        color: #4f87fb;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        outline: none;
    }
    #trending div.trending-column div.space{
        width: calc(100% - 200px);
        height: 80px;
        max-height: 100%;
        padding: 0 20px;
        margin: 0;
        display: block;
        float: left;
        position: relative;
    }
    #trending div.trending-column div.space p:nth-child(1){
        font-size: 16px;
        font-weight: 400;
        font-family: "Cerebri-Sans";
        text-align: left;
        color: #4a4a4a;
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #trending div.trending-column div.space p:nth-child(2){
        font-size: 14px;
        font-weight: 400;
        font-family: "CerebriSans-Regular";
        text-align: left;
        color: #4a4a4a !important;
        width: 100%;
        padding: 5px 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #trending div.trending-column div.space p:nth-child(2) span{
        color: #4785fb !important;
    }
    #trending div.trending-column div.spaceDetails{
        width: 150px;
        height: 80px;
        max-height: 100%;
        padding: 10px 5px;
        margin: 0;
        outline: none;
        display: block;
        float: left;
        position: relative;
        box-sizing: border-box;
    }
    #trending div.trending-column div.spaceDetails i{
        display: none !important;
    }
    #trending div.trending-column div.spaceDetails input[type=submit]{
        height: 40px;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
        font-family: "Cerebri-Sans";
        font-weight: 400;
        border-radius: 20px;
        border: none;
        outline: none !important;
        display: block;
        position: relative;
        color: #4f87fb;
        background-color: rgba(79, 135, 251, 0.15);
        cursor: pointer;
    }
    /* END OF TRENDING */

    /* START OF REVIEW ROW */
    #reviews{
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        padding: 50px 100px;
        margin: 50px 0;
        background-color: #a3bffd25;
    }
    #reviews div.reviews-header{
        width: 100%;
        padding: 10px 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #reviews div.reviews-header p{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        font-family: "Cerebri-Sans";
        padding: 0;
        margin: 0;
        text-align: center;
        text-transform: none;
        color: #454f66;
        display: block;
        position: relative;
    }
    #reviews div.reviews-header p span{
        color: #4285f4;
    }
    #reviews div.review{
        width: 50%;
        height: 100%;
        display: block;
        float: left;
        position: relative;
        padding: 50px;
        margin: 0;
        background-color: transparent;
    }
    #reviews div.review div.row{
        padding: 0 0 0 60px;
        margin: 0 0 30px 0;
        width: 100%;
        height: 80px;
        display: block;
        position: relative;
    }
    #reviews div.review div div.reviewerImage{
        height: 80px;
        width: 80px;
        border-radius: 40px;
        float: left;
        background-color: #ffffff;
        box-shadow: 0 2px 20px 0 #4f87fb;
    }
    #reviews div.review div div.reviewerImage img{
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        border-radius: 40px;
    }
    .review div.reviewContent{
        width: 100%;
        height: 100%;
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
    }
    div.review div.reviewContent div.quote{
        height: 60px;
        width: 60px;
        max-width: 60px;
        display: block;
        float: left;
        position: relative;
    }
    div.review div.reviewContent div.quote i{
        width: 60px;
        height: 60px;
        background-color: transparent;
        position: relative;
        display: block;
    }
    div.review div.reviewContent div.quote i.fa{
        color: #b1c3cf;
        font-size: 35px;
        text-align: left top;
    }
    div.review div.reviewContent div.content{
        width: calc(100% - 60px);
        height: auto;
        display: block;
        float: left;
        position: relative;
    }
    .review div.reviewContent div.content p.content{
        color: #4a4a4a;
        font-size: 14px;
        font-weight: lighter;
        font-family: "CerebriSans-Regular";
        text-align: left;
        padding: 0 0 15px 0;
        line-height: 1.5;
        margin: 0;
    }
    .review div.reviewContent div.content p.author{
        color: #4785fb;
        font-size: 15.5px;
        font-weight: lighter;
        font-family: "CerebriSans-Regular";
        text-align: left;
        padding: 7.5px 0;
    }
    /* END OF REVIEW ROW */
    
    /* START OF QUESTIONS ROW */
    #questions{
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        padding: 40px 100px;
    }
    #questions>p{
        padding: 0 0 30px 0;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        font-family: "CerebriSans-Medium";
        text-align: center;
        text-transform: capitalize;
        color: #454f66;
        display: block;
        position: relative;
    }
    #questions>p span{
        color: #4785fb;
    }
    #questions>.question-answer{
        width: 80%;
        padding: 0;
        margin: auto;
        height: auto;
    }
    #questions>.question-answer>p{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        font-family: "CerebriSans-Light";
        color: #454f66;
        display: block;
        position: relative;
    }
    /* END OF QUESTION ROWS */

    /* START OF PICTURE ROW */
    #picture{
        width: 100%;
        height: auto;
        padding: 40px 0;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #picture>.image{
        width: calc(100% / 3);
        height: 500px;
        display: block;
        float: left;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    /* END OF PICTURE ROW */

    /* FOOTER ROW */
    #footer{
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
    }
    #footer>.logo{
        width: 200px;
        height: 100%;
        padding: 0 50px;
        float: left;
        display: block;
        position: relative;
        background-color: #ffffff;
    }
    #footer>.logo>.spleetlogo{
        width: 60px;
        height: 60px;
        padding: 0;
        margin: auto;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-image: url("../assets/icons/spleet-2-2@2x.png");
    }
    #footer>.footer-content{
        width: calc(100% - 200px);
        height: auto;
        padding: 30px 60px 0 60px;
        margin: 0;
        display: block;
        float: left;
        opacity: 0.9;
        background-color: #4f87fb;
    }
    #footer>.footer-content>.footer-column{
        width: calc(100% / 5);
        height: auto;
        padding: 0 10px 10px 0;
        margin: 0;
        display: block;
        float: left;
    }
    #footer>.footer-content>.footer-column h4{
        height: auto;
        width: 100%;
        display: block;
        position: relative;
        padding: 0 0 10px 0;
        font-size: 16px;
        font-weight: lighter;
        font-family: "CerebriSans-Medium";
        text-align: left;
        color: #ffffff;
        text-transform: capitalize;
    }
    #footer>.footer-content>.footer-column>ul{
        list-style: none;
        height: auto;
        width: 100%;
        padding: 5px 0;
        position: relative;
        display: block;
    }
    #footer>.footer-content>.footer-column>ul>li a{
        width: 100%;
        height: auto;
        font-size: 14px;
        font-weight: lighter;
        font-family: "CerebriSans-Light";
        text-align: left;
        text-decoration: none;
        text-transform: capitalize;
        color: #ffffff;
        display: block;
        position: relative;
        float: left;
        opacity: .8;
        padding: 5px 0;
    }
    .footer-column>div{
        width: auto;
        height: 30px;
        padding: 0 5px;
        margin: 0;
        display: inline-block;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    .footer-column>div i{
        width: 100%;
        height: 100%;
    }
    .footer-content>p{
        width: 100%;
        height: auto;
        padding: 10px 0;
        margin: 0;
        display: block;
        float: left;
        text-align: right;
        position: relative;
        font-size: 12px;
        font-weight: lighter;
        font-family: "CerebriSans-Light";
        color: #454f66;
        border-top: 1px solid #ffffff;
    }
    /* END OF FOOTER ROW */


}

/* 
    THIS IS THE RULE FOR MOBILE VIEW
*/
@media screen and (max-width: 767px) {
    /* FORM FOR REGISTER SPACE */
    #formSpaceRegister{
        width: 100%;
        padding: 0 15px;
        height: auto;
        margin: auto;
        left: 0;
        right: 0;
        background-color: #ffffff;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        z-index: 4;
        position: absolute;
        display: none;
    }
    #formSpaceRegister>.close, #signup-options>.close, #signin-option>.close, #register-option>.close{
        position: absolute;
        top: 5px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        padding: 10px;
        margin: 0;
        right: 10px;
        background-size: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("../assets/icons/close@2x.png");
        background-color: #ffffff;
        display: block;
        z-index: 5;
        cursor: pointer;
    }
    #formSpaceRegister>div.header>h4{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 30px 0;
        text-transform: none;
        font-family: "Cerebri-Sans";
        font-size: 20px;
        font-weight: 500;
        color: #121212;
    }
    #formSpaceRegister>span{
        width: 100%;
        height: auto;
        padding: 5px 0 2.5px 0;
        text-align: left;
        text-transform: none;
        font-family: "CerebriSans-Italic";
        font-size: 12px;
        font-weight: 200;
        color: #4787fb;
        display: block;
        position: relative;
    }
    #formSpaceRegister>form.spaceRegister{
        width: 100%;
        height: auto;
        padding: 0 0 10px 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #formSpaceRegister>form.spaceRegister>div{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        margin: 5px 0 0 0;
        padding: 0;
        border-radius: 4px;
        border: 1px solid #616161;
        background-image: none;
    }
    #formSpaceRegister>form>div>div, #formSpaceRegister>form>div>div>div{
        width: 30px;
        height: 30px;
        display: block;
        float: left;
        position: relative;
        padding: 5px;
        box-sizing: border-box;
    }
    #formSpaceRegister>form.spaceRegister>div>div>i,#formSpaceRegister>form.spaceRegister>div>div>div>i{
        width: 100%;
        height: 100%;
    }
    #formSpaceRegister>form.spaceRegister>div>div>i.fa,#formSpaceRegister>form.spaceRegister>div>div>div>i.fa{
        color: #4787fb;
        font-size: 20px;
        font-weight: 400;
    }
    #formSpaceRegister>form.spaceRegister>div>input, #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>input{
        width: calc(100% - 30px) !important;
        height: 30px;
        padding: 5px 10px 5px 0;
        margin-top: 1px;
        border-radius: 0 4px 4px 0;
        background-color: rgba(204, 204, 204, 0.25);
        transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        border: none;
        color: #616161;
        font-size: 12px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        text-transform: capitalize;
        background-image: none;
    }
    #formSpaceRegister>form.spaceRegister>div>input:focus, #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>input:focus{
        background-color: #ffffff;
    }
    #formSpaceRegister>form.spaceRegister>div>input[type=email]{
        text-transform: none;
    }
    #formSpaceRegister>form.spaceRegister>div>input::placeholder{
        margin: 0;
        padding: 5px 0;
        width: 100%;
        height: 100%;
        color: rgb(137, 135, 135);
        font-size: 11px;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails{
        width: 100%;
        height: 95px;
        display: block;
        overflow-y: auto;
        position: relative;
        border-radius: 4px;
        overflow: auto;
        overflow: auto;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space{
        width: 100%;
        padding: 0;
        height: auto;
        display: inline-block;
        position: relative;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>div.dateAndTime{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        padding: 0 0 0 30px;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>div.dateAndTime>div{
        width: 50%;
        height: auto;
        display: block;
        float: left;
        position: relative;
        padding: 5px 10px 5px 0;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>div.dateAndTime>div>span{
        width: 100%;
        display: block;
        text-align: left;
        font-size: 12px;
        font-family: "CerebriSans-Light";
        font-weight: 400;
        padding: 5px 0 0 0;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceDetails>div.space>div.dateAndTime>div>input{
        width: 100%;
        height: 30px;
        outline: none;
        border: none;
        display: block;
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        color: #616161;
        font-size: 14px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        text-transform: uppercase;
    }
    #formSpaceRegister>form.spaceRegister>div.addMoreSpace{
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 5px 0;
        border: none;
        border-radius: 0;
        opacity: 0.7;
    }
    #formSpaceRegister>form.spaceRegister>div.addMoreSpace>div{
        width: auto;
        height: auto;
        display: block;
        float: left;
        position: relative;
        padding: 0;
    }
    #formSpaceRegister>form.spaceRegister>div.addMoreSpace>h5{
        width: auto;
        height: auto;
        padding: 2px 25px;
        display: block;
        position: relative;
        cursor: pointer;
        color: #616161;
        font-size: 13px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        text-transform: capitalize;
        text-align: left;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceSubmit{
        margin: 10px 0 0 0;
        padding: 0;
        border: none;
        border-radius: 0;
        height: 100%;
        width: 100%;
        background-color: #4787fb;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceSubmit>input[type=submit]{
        width: 100% !important;
        height: 40px;
        display: block;
        position: relative;
        cursor: pointer;
        background-color: transparent;
        color: #ffffff;
        text-transform: none;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        outline: none;
        border: none;
    }
    #formSpaceRegister>form.spaceRegister>div.spaceSubmit>input[type=submit]:focus{
        outline: none;
        border: none;
    }

    /* FORMS GROUP */
    .formRow{
        width: 100%;
        height: auto;
        margin: auto;
        padding: 0 10px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        right: 0;
        top: 50% !important;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateY(-50%);
        user-select: none;
        z-index: 5;
        display: block /* none */;
    }

    /* SIGN UP OPTION */
    #signup-options{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 !important;
        background-color: transparent;
        position: relative;
        box-sizing: border-box;
        user-select: none;
        z-index: 5;
        display: none;
    }
    #signup-options>div{
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        margin: 5px 0 0 0;
        display: block;
        position: relative;
        background: transparent;
    }
    #signup-options>div>i{
        height: 24px;
        width: 25px;
        display: block;
        float: left;
        padding-left: 20px;
    }
    #signup-options>div>i.fa{
        color: #ffffff;
        font-size: 20px;
    }
    #signup-options>div.facebook{
        background-color: #3b5197;
        cursor: pointer;
    }
    #signup-options>div.google{
        background-color: #4285f4;
        cursor: pointer;
    }
    #signup-options>div.emailOpt{
        background-color: #ad092b;
        cursor: pointer;
    }
    #signup-options>p{
        width: 100%;
        font-family: "Cerebri-Sans";
        font-size: 20px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        padding: 35px 0 20px 0;
        margin: 0;
        text-transform: capitalize;
    }
    #signup-options>span{
        text-align: center;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        color: #616161;
        padding: 5px 0 0 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
    }
    #signup-options>.agree{
        font-family: "Cerebri-Sans";
        font-size: 13px;
        line-height: 1.54;
        text-align: center;
        color: #636b7a;
        padding: 4px 5px;
        margin: 8px 0 0 0;
    }
    .facebook>p>a, .google>p>a, .emailOpt>p{
        font-family: "Cerebri-Sans";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        text-align: center !important;
        text-decoration: none;
        color: #ffffff;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: calc(100% - 24px);
        height: 100%;
        display: block;
        position: relative;
        cursor: pointer;
    }
    #signup-options>.baseOpt{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        box-sizing: border-box;
        margin: 15px 0 0 0;
        padding: 10px 0;
    }
    .baseOpt>p{
        height: 100%;
        width: auto;
        padding: 10px 5px 0 0;
        margin: 0;
        font-family: "Cerebri-Sans";
        font-size: 14px;
        font-weight: lighter;
        line-height: 1;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
    }
    .baseOpt>input[type=submit]{
        width: 90px;
        height: 30px;;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 5px 0;
        margin: 0;
        float: left;
        display: block;
        position: relative;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    /* STYLING THE SIGNIN OPTIONS */
    #signin-option{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 !important;
        background-color: transparent;
        position: relative;
        box-sizing: border-box;
        user-select: none;
        z-index: 5;
        display: none;
    }
    #signin-option>p:nth-child(2){
        font-family: 'Cerebri-Sans';
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        color: #121212;
        text-transform: capitalize;
        box-sizing: border-box;
        padding: 40px 0 20px 0 !important;
        margin: 0;
    }
    .socialmedia-option{
        display: inline-block;
        position: relative;
        height: 40px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .socialmedia-option>div{
        width: 48%;
        height: 40px;
        padding: 5px;
        margin: 0 1%;
        box-sizing: border-box;
        display: block;
        float: left;
        position: relative;
        border-radius: 2px;
    }
    .socialmedia-option>div.facebookOpt{
        background-color: #3b5197;
        margin: 0 1% 0 0;
        padding-left: 12.5px;
    }
    .socialmedia-option>div.googleOpt{
        background-color: #4285f4;
        margin: 0 0 0 1%;
        padding-left: 12.5px;
    }
    .socialmedia-option>div.facebookOpt>i, .socialmedia-option>div.googleOpt>i{
        width: 20px;
        height: 100%;
        display: block;
        position: relative;
        float: left;
    }
    .socialmedia-option>div.facebookOpt>i.fa, .socialmedia-option>div.googleOpt>i.fa{
        color: #ffffff;
        font-size: 16px;
        padding: 7.5px 2px;
        margin: 0;
        text-align: center;
    }
    .facebookOpt>p, .googleOpt>p{
        height: 100%;
        width: calc(100% - 20px);
        display: block;
        position: relative;
        float: left;
        padding: 5px 0;
        margin: 0;
    }
    .facebookOpt>p>a, .googleOpt>p>a{
        width: 100%;
        height: 100%;
        font-family: "Cerebri-Sans";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        display: block;
        position: relative;
    }
    #signin-option>span{
        height: auto;
        width: 100%;
        padding: 7.5px 0;
        margin: 0;
        display: block;
        position: relative;
        font-family: "Cerebri-Sans";
        font-size: 14px;
        text-align: center;
        color: #616161;
    }
    #signin-option>form{
        height: auto;
        width: 100%;
        display: block !important;
    }
    #signin-option>form>div+div{
        height: 35px;
        width: 100%;
        padding: 0;
        margin: 5px 0;
        border-radius: 4px;
        display: block;
        position: relative;
    }
    #signin-option>form>div input{
        height: 35px;
        width: 100%;
        padding: 7.5px 5px 7.5px 35px;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #909398;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px;
        background-color: rgba(204, 204, 204, 0.25);
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        font-size: 16px;
        transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
    }
    #signin-option>form>div input:focus{
        background-color: #ffffff;
    }
    div input[type=email]{
        background-image: url("../assets/icons/at.png");
        background-size: 20px 20px;
        color: #616161;
        font-size: 14px;
        font-family: "CerebriSans-Regular";
        font-weight: 200;
    }
    div input[type=password]{
        background-image: url("../assets/icons/lock.png");
        background-size: 20px 20px;
        color: #616161;
        font-size: 14px;
        font-family: "CerebriSans-Regular";
        font-weight: 200;
    }
    #signin-option ::placeholder{
        color: rgb(137, 135, 135) !important;
        font-size: 14px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
    }
    div input[type=checkbox],div input[type=checkbox]:checked{
        margin: 5px 0;;
        padding: 0;
        float: left;
        display: block;
        border: none !important;
        outline: solid 1px #4f87fb;
    }
    form>p{
        padding: 3px 20px;
        font-family: "CerebriSans-Regular";
        font-weight: lighter;
        font-size: 14px;
        color: #616161;
        margin: 0;
    }
    form>.submitBtn{
        height: 40px;
        width: 100%;
        display: block;
        position: relative;
        border-radius: 2px;
        padding: 0;
        margin: 5px 0 0 0;
        box-sizing: border-box;
        background-color: #4285f4;
        cursor: pointer;
        outline: none !important;
    }
    form>.submitBtn>input[type=submit]{
        height: 100% !important;
        width: 100%;
        padding: 10px 0 !important;
        margin: 0;
        font-family: "Cerebri-Sans" !important;
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        text-transform: capitalize;
        background-color: transparent !important;
        display: block;
        position: relative;
        cursor: pointer;
        border: none !important;
        outline: none;
    }
    #signin-option>p:nth-child(6){
        padding: 10px 0;
        margin: 0;
        height: auto;
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        font-size: 15px;
        font-family: "CerebriSans-Light";
        color: #4f87fb;
        text-transform: capitalize;
        cursor: pointer;
    }
    .base{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        margin: 12px 0 0 0;
        padding: 10px 0;
    }
    .base>p{        
        height: 100%;
        width: auto;
        padding: 10px 10px 0 0;
        margin: 0;
        font-family: "Cerebri-Sans";
        font-size: 14px;
        font-weight: lighter;
        line-height: 1;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
    }
    .base>input[type=submit]{
        width: 100px;
        height: 30px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }

    /* REGISTER OPTION */
    #register-option{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 !important;
        background-color: transparent;
        position: relative;
        box-sizing: border-box;
        user-select: none;
        z-index: 5;
        display: none;
    }
    #register-option>p{
        font-family: 'Cerebri-Sans';
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        color: #121212;
        text-transform: capitalize;
        padding: 40px 0 24px 0;
        margin: 0;
    }
    #register-option>form{
        width: 100%;
        height: 100% !important;
        padding: 0;
        margin: 0;
        display: block !important;
        position: relative;
    }
    #register-option>form>div{
        height: 40px;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
    }
    #register-option>form>div+div{
        margin: 5px 0;
        padding: 0;
    }
    #register-option>form>div>input{
        height: 100%;
        width: 100%;
        padding: 10px 5px 10px 40px;
        margin: 0;
        border-radius: 4px;
        border: 1px solid #909398;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px;
        background-color: rgba(204, 204, 204, 0.25);
        transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        font-size: 16px;
    }
    #register-option>form>div>input:focus{
        background-color: #ffffff;
    }
    #register-option ::placeholder{
        color: rgb(137, 135, 135) !important;
        font-size: 14px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
    }
    #register-option>form>div>input[type=submit]{
        height: 40px;
        width: 100%;
        padding: 10px 0;
        margin: 15px 0 !important;
        border-radius: 4px;
        border: none;
        background-color: #4285f4;
        color: #ffffff;
        position: relative;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    #register-option>p:nth-child(4){
        text-align: center;
        color: #616161;
        display: block;
        position: relative;
        font-size: 14px;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        line-height: 1;
        text-transform: capitalize;
        padding: 15px 0;
        margin: 0;
    }
    #register-option>.baseOpt{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        margin: 0;
        padding: 10px 0;
    }#register-option>.baseOpt>p{
        height: 30px;
        font-family: "Cerebri-Sans";
        font-size: 14px;
        line-height: 1.47;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
        width: auto;
        padding: 5px 5px 0 0 !important;
        margin: 0;
    }
    #register-option>.baseOpt>input[type=submit]{
        width: 90px;
        height: 30px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }
    /* END OF FORMS */

    /* POP UP ERRORS */
    div#pop-up{
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        background-color: #4787fb;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
    }
    div#pop-up.active{
        height: 40px;
        padding: 7.5px 0;
    }
    div#pop-up div.errorMsg{
        width: calc(100% - 25px);
        height: 100%;
        padding: 2.5px 0;
        margin: 0;
        display: block;
        position: relative;
        float: left;
    }
    div#pop-up div.errorMsg p{
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    div#pop-up div.closeIcon{
        width: 25px;
        height: 100%;
        margin: 0;
        padding: 2.5px;
        display: block;
        position: relative;
        float: left;
        cursor: pointer;
    }
    div#pop-up div.closeIcon i.fa{
        font-size: 16px;
        color: #ffffff;
    }

    /* MAIN WRAPPERS */
    #mainWrap{
        width: 100%;
        height: 100vh;
        max-height: 350px;
        position: relative;
        display: block;
        background: #4f87fb;
        padding: 0;
        margin: 0;
    }
    /* END OF MAIN WRAPPER */

    /* NAVIGTION */
    #navigation{
        height: 50px;
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        display: block;
        border-bottom: 1px solid #4f87fb;
        transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        background-color: #ffffff;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 2;
    }
    #navigation.active{
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    #navigation .companyLogo{
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        padding: 5px 10px 5px 2.5px;
        border-bottom: 1px solid #4f87fb !important;
    }
    #navigation .companyLogo a{
        width: 40px;
        height: 100%;
        float: left;
        display: block;
        position: relative;
        cursor: pointer;
    }
    #navigation .companyLogo a img{
        height: 100%;
        width: 100%;
    }
    #navigation .navigationLinks{
        width: 100%;
        height: 0;
        display: none;       
        padding: 0;
        background-color: #ffffff;
        z-index: 1;
        transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
    }    
    #navigation .navigationLinks.active{
        height: auto;  
        display: block;
        padding: 10px 0;
    }
    .navigationLinks ul{
        list-style: none;
        height: auto;
        width: 100%;
        position: relative;
        display: block;
    }    
    .navigationLinks ul li{
        width: 100%;
        height: 40px;
        display: block;
        position: relative;
    }
    .navigationLinks>ul>li a{
        height: 100%;
        width: 100%;
        padding: 10px 10px;
        margin: 0;        
        text-transform: none;
        text-decoration: none;
        font-family: "CerebriSans-Regular";
        font-size: 14px;
        font-weight: lighter;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        color: #121212;
        transition: color 0.4s ease-out;
    }    
    .navigationLinks>ul>li a.signout{
        background-color: #4787fb;
        color: #ffffff; 
    }
    .navigationLinks>ul>li a.mySpleet::after{
        height: 0;
        width: 0;
        position: absolute;
        content: '';
        top: 15px;
        right: 20px;
        border-width: 7px 6px 0 6px;
        border-style: solid;
        border-color: #4f87fb transparent;
    }
    ul.menulist{
        height: auto;
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        outline: none;
        border: none;
        display: none;
        opacity: 0;
        z-index: 2;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: #ffffff;
    }
    ul.menulist.active{
        display: inline-block;
        opacity: 1;
    }
    /* STYLING THE HUMBURGER*/
    .menu-bar{
        display: block;
        position: absolute;
        cursor: pointer;
        line-height: 50px;
        right: 15px;
        top: 12.5px;
        height: auto;
        z-index: 2000;
    }
    .bar1, .bar2, .bar3 {
        height: 3px;
        width: 30px;
        margin: 4px 0;
        background-color: #4f87fb;
        display: block;
        transition: .15s ease-in;
        text-align: center;
    }
    .change .bar1 {
        transform: translate(0px,9px) rotate(-45deg);
        -moz-transform: translate(0px,9px) rotate(-45deg);
        -ms-transform: translate(0px,9px) rotate(-45deg);
        -webkit-transform: translate(0px,9px) rotate(-45deg);
        -o-transform: translate(0px,9px) rotate(-45deg);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: translate(0px,-5px) rotate(45deg);
        -moz-transform: translate(0px,-5px) rotate(45deg);
        -ms-transform: translate(0px,-5px) rotate(45deg);
        -webkit-transform: translate(0px,-5px) rotate(45deg);
        -o-transform: translate(0px,-5px) rotate(45deg);
    }

    /* RULE FOR JUMBOTRON */
    .jumbotron{
        width: 100%;
        height: auto;
        padding: 30px 10px;
        margin: 0;
        display: block;
        position: relative;
        z-index: 0;
    }
    .jumbotron>p{
        font-family: "Cerebri-Sans";
        font-size: 30px;
        font-weight: 600;
        text-align: left;
        color: #ffffff;
        padding: 10px 0;
    }
    .jumbotron>p:nth-child(2){
        font-size: 18px;
        font-weight: 300;
        height: auto;
        text-align: left;
        color: #ffffff;
        padding: 0;
        margin: 0;   
    }
    .jumbotron>p>span{
        color: #ffffff;
    }    
    /* END OF RULE FOR JUMBOTRON */

    /* SEARCH RULE */
    .search-row{
        height: auto;
        width: 100%;
        padding: 0 10px;
        margin: 0;
        display: inline-block;
    }
    .search-row>form.JS{
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        border: 1px solid #4f87fb;
        box-shadow: 0 1px 10px 0 #ffffff; 
    }    
    .search-row form.JS div#spaces, .search-row form.JS div#duration{
        display: none !important;
    }
    .search-row form.JS div#location{        
        width: 70%;
        height: 100%;
        max-height: 50px;
        padding: 10px 5px 10px 20px;
        margin: 0;
        display: block;
        position: relative;
        float: left;
        border: none;
        outline: none;
        border-radius: 25px 0 0 25px;
        background-color: #ffffff;
    }
    .search-row form.JS div#location div{
        height: 100%;
        width: 24px;
        display: block;
        float: left;
        position: relative;
    }
    .search-row form.JS div#location div i.fa{
        font-size: 28px;
        color: #4f87fb;
    }
    .search-row form.JS div#location span{
        width: calc(100% - 24px);
        height: 100%;
        display: block;
        float: left;
        position: relative;
        padding: 5px 0;
        margin: 0;
        text-transform: capitalize;
        color: #4a4a4a;
        font-family: "CerebriSans-Light";
        font-weight: lighter;
        font-size: 16px;
    }
    .search-row form.JS div#location span::after{
        height: 0;
        width: 0;
        position: absolute;
        content: '';
        top: 11.5px;
        right: 10px;
        border-width: 7px 6px 0 6px;
        border-style: solid;
        border-color: #4f87fb transparent;
    }    
    .search-row form.JS div#location ul.rowList{
        width: 100%;
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        border-radius: 2px;
        background: white;
        border: 1px solid rgba(0,0,0,0.17);
        height: auto;
        display: block /* none */;
        opacity: 0;
        padding-left: 35px;
        list-style: none;
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }    
    .search-row form.JS div#location ul.rowList.active{
        opacity: 1;
        display: block;
    }
    .search-row form.JS div#location ul.rowList li{
        width: 100%;
        height: 100%;
        display: list-item;
        text-align: left;
    }
    .search-row form.JS div#location ul.rowList li p{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 7.5px 10px;
        text-transform: capitalize;
        font-family: "CerebriSans-Light";
        font-size: 14px;
        font-weight: lighter;
        color: #4a4a4a;
        border-bottom: 1px solid #e6e8ea;
        box-shadow: inset 0 1px 0 rgba(255,255,255,1);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        cursor: pointer;
    }
    .search-row form.JS div.formIn{        
        width: 30%;
        height: 100%;
        max-height: 50px;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        background-color: #4f87fb;
        border-radius: 0 25px 25px 0;
    }
    .search-row form.JS div.formIn input[type=submit]{
        height: 100%;
        width: 100%;
        background-color: #4f87fb;
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        text-transform: capitalize;
        outline: none;
        border: none;
        border-radius: 0 25px 25px 0;
   }

   /* FEATURES CONTENT */
   #features{
        padding: 35px 10px 40px 10px;
        margin: 0;
        display: block;
        position: relative;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #features::-webkit-scrollbar {
        display: none;
    }
    #features .features-header{
        width: 100%;
        height: auto;
        padding: 50px 0;
        margin: 0;
        display: none;
        position: relative;
    }
    #features .features-header p{
        font-size: 20px;
        font-weight: lighter;
        font-family: "Cerebri-Sans";
        padding: 0;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        color: #454f66;
        display: block;
        position: relative;
    }
    #features .feature-column{
        width: 90%;
        height: 100%;
        margin: 0 5px;
        padding: 30px 30px;
        display: inline-block;
        position: relative;
        cursor: auto;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 8px 0 rgba(79, 135, 251, 0.4);    
    }
    #features .feature-column .caption{
        margin: 0;
        padding: 10px 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-weight: lighter;
        font-family: "CerebriSans-Medium";
        color: #454f66;
        display: block;
        position: relative;
        width: 100%;
    }
    #features .feature-column .body{
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }
    #features .feature-column .body p{
        padding: 20px 10px;
        margin: 0;
        font-size: 15px;
        font-weight: lighter;
        font-family: "CerebriSans-Regular";
        color: #454f66;
        text-align: center;
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        white-space: pre-line;
    }
    #features .feature-column .body p span{
        color: #4285f4;
    }
    #features .feature-column .icons{
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        background-color: #4785fb;
        left: 0;
        right: 0;
        bottom: -25px;
        margin: 0 auto;
        outline: none;
        border: none;
        box-shadow: 0;
    }
    #features .feature-column .icons i{
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px 7.5px !important;
        text-align: center;
        margin: 0;
    }
    #features .feature-column .icons i.fa{
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        padding: 0;
    }
    /* END OF FEATURE CONTENT */

    /* START OF TRENDING ROW */
    #trending{
        width: 100%;
        height: auto;
        padding: 50px 10px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #trending div.trending-header{
        width: 100%;
        padding: 10px 0 20px 0 ;
        display: block;
        position: relative;
    }
    #trending div.trending-header p{
        font-size: 16px;
        font-weight: lighter;
        font-family: "Cerebri-Sans";
        padding: 0;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        color: #454f66;
        display: block;
        position: relative;
    }
    #trending div.trending-header p span{
        color: #4785fb;
    }
    #trending div.trending-column{
        width: 100%;
        height: 60px;
        max-height: 60px;
        display: block;
        position: relative;
        float: left;
        padding: 7.5px 0;
        margin: 7.5px 0;
        outline: none;
    }
    #trending div.trending-column div.icons{
        width: 40px;
        height: 40px;
        max-height: 100%;
        padding: 8px 5px;
        margin: 0;
        display: block;
        float: left;
        position: relative;
        border-radius: 20px;
        background-color: rgba(79, 135, 251, 0.15);
    }
    #trending div.trending-column div.icons i{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #trending div.trending-column div.icons i.fa{
        color: #4f87fb;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        outline: none;
    }
    #trending div.trending-column div.space{
        width: calc(100% - 70px);
        height: 60px;
        max-height: 100%;
        padding: 0 7.5px;
        margin: 0;
        display: block;
        float: left;
        position: relative;
    }
    #trending div.trending-column div.space p:nth-child(1){
        font-size: 14px;
        font-weight: lighter;
        font-family: "CerebriSans-Light";
        text-align: left;
        color: #4a4a4a;
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #trending div.trending-column div.space p:nth-child(2){
        font-size: 12px;
        font-weight: lighter;
        font-family: "CerebriSans-Light";
        text-align: left;
        color:#4785fb;
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #trending div.trending-column div.space p:nth-child(2) span{
        color: #4a4a4a;
        font-size: 12.5px;
        font-weight: lighter;
        font-family: "CerebriSans-Light";
    }
    #trending div.trending-column div.spaceDetails{
        width: 30px;
        height: 60px;
        max-height: 100%;
        padding: 10px 10px;
        margin: 0;
        outline: none;
        display: block;
        float: left;
        position: relative;
        box-sizing: border-box;
    }
    #trending div.trending-column div.spaceDetails input[type=submit]{
        display: none !important;
        opacity: 0;
    }
    #trending div.trending-column div.spaceDetails i{
        width: 100%;
        height: 100%;
        display: block;
        float: left;
        position: relative;
    }    
    #trending div.trending-column div.spaceDetails i.fa{
        text-align: right;
        font-size: 18px;
        padding-top: 3.5px;
    }
    /* END OF TRENDING */

    /* START OF REVIEW ROW */
    #reviews{        
        padding: 20px 0 0 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #a3bffd25;
    }
    #reviews div.reviews-header{
        width: 100%;
        padding: 10px 0;
        margin: 0;
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
    #reviews div.reviews-header p{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        font-family: "Cerebri-Sans";
        padding: 0;
        margin: 0;
        text-align: center;
        text-transform: none;
        color: #454f66;
        display: block;
        position: relative;
    }
    #reviews div.reviews-header p span{
        color: #4285f4;
    }    
    #reviews div.r{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    #reviews div.r::-webkit-scrollbar{
        display: none;
    }
    #reviews div.review{
        height: 100%;
        display: inline-block;
        position: relative;
        padding: 50px 0;
        margin: 0;
        background-color: transparent;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
    #reviews div.review div.row{
        padding: 0;
        margin: 0 0 15px 0;
        width: 100%;
        height: 70px;
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
    #reviews div.review div div.reviewerImage{
        height: 70px;
        width: 70px;
        border-radius: 35px;
        margin: auto;
        background-color: #ffffff;
        box-shadow: 0 2px 10px 0 #4f87fb;
    }
    #reviews div.review div div.reviewerImage img{
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        border-radius: 35px;
    }
    .review div.reviewContent{
        width: 100%;
        height: 100%;
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
    div.review div.reviewContent div.quote{
        display: none;
    }
    div.review div.reviewContent div.content{
        width: 100%;
        height: auto;
        display: block;
        float: left;
        position: relative;
        padding: 0 15px;
        margin: 0;
    }
    .review div.reviewContent div.content p.content{
        color: #4a4a4a;
        font-size: 14px;
        font-weight: lighter;
        font-family: "CerebriSans-Regular";
        text-align: center;
        padding: 0 0 15px 0;
        line-height: 1.25;
        margin: 0;
        white-space: pre-line;
    }
    .review div.reviewContent div.content p.author{
        color: #4785fb;
        font-size: 13px;
        font-weight: lighter;
        font-family: "CerebriSans-Regular";
        text-align: center;
        padding: 7.5px 0;
        white-space: pre-line;
    }
    /* END OF REVIEW ROW */
    
    /* START OF QUESTIONS ROW */
    #questions{
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        padding: 30px 10px;
    }
    #questions>p{
        padding: 0 0 30px 0;
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        font-family: "CerebriSans-Medium";
        text-align: center;
        text-transform: capitalize;
        color: #454f66;
        display: block;
        position: relative;
    }
    #questions>p span{
        color: #4785fb;
    }
    #questions>.question-answer{
        width: 80%;
        padding: 0;
        margin: auto;
        height: auto;
    }
    #questions>.question-answer>p{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
        font-family: "CerebriSans-Regular";
        color: #454f66;
        display: block;
        position: relative;
    }
    /* END OF QUESTION ROWS */
    
    /* START OF PICTURE ROW */
    #picture{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;

    }
    #picture::-webkit-scrollbar{
        display: none;
    }
    #picture .image{
        width: 100%;
        height: 400px;
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    /* END OF PICTURE ROW */

    /* FOOTER ROW */
    #footer{
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
        background-color: #4a4a4a;
    }
    #footer .logo{
        display: none !important;
    }
    #footer .footer-content{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
        opacity: 0.9;
    }
    #footer .footer-content .footer-column{
        display: none;
        position: relative;
    }
    #footer .footer-content .footer-column.mobile{
        height: 40px; 
        width: 100%;
        padding: 10px 40px;
        margin: 0;
        text-align: center;
        display: block;
        position: relative;
        background-color: #121212/* #4f87fb; */
    }    
    #footer .footer-content .footer-column.mobile div{
        width: auto;
        height: 100%;
        padding: 0 7.5px;
        margin: 0;
        display: inline-block;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    #footer .footer-content .footer-column.mobile div i{
        width: 100%;
        height: 100%;
    }
    #footer .footer-content .footer-column.mobile div i.fa{
        font-size: 18px;
    }
    #footer .footer-content p{
        padding: 10px 0;
        font-size: 14px;
        font-weight: lighter;
        font-family: "CerebriSans-Light";
        text-align: center;
        background-color: #4786fb1b;
        color: #ffffff;
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }
}