@font-face{
    font-family: "Cerebri-Sans";
    src: url("../fonts/CerebriSans-Book.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Light"; 
    src: url("../fonts/CerebriSans-Light.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Medium";
    src: url("../fonts/CerebriSans-Medium.otf") format("opentype")
}
@font-face{
    font-family: "CerebriSans-Regular"; 
    src: url("../fonts/CerebriSans-Regular.otf") format("opentype");
}
::-webkit-scrollbar{
    width: 7.5px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #4787fb;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #4787fb;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}

html,body{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: inline-block;
}

/* RULE FOR NAVIGATION */
#navigation{
    width: 100%;
    height: 60px;
    display: inline-block;
    position: relative;
    top: -5px !important;
    padding: 0 100px;
    margin: 0 !important;
    background-color: #ffffff;
    border-bottom: none;
    border-bottom: 1px solid #4f87fb !important;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#navigation.active{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #4f87fb !important;
    z-index: 4;
}
#navigation>.companyLogo{
    float: left;
    display: block;
    position: relative;
    padding: 5px 0;
    height: 100%;
    width: 50px;
}
#navigation>.companyLogo>a{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
}
#navigation>.companyLogo>a img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#navigation>.navigationLinks{
    width: calc(100% - 60px);
    height: 100%;
    background-color: #ffffff;
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}
.navigationLinks>ul{
    list-style: none;
    height: 100%;
    width: auto;
    position: relative;
    display: block;
    float: right;
    padding: 0;
    margin: 0;
}
.navigationLinks>ul>li{
    width: auto;
    height: 100%;
    display: block;
    position: relative;
    float: left;
}
.navigationLinks>ul>li a{
    padding: 20px 0;
    height: 100%;
    width: auto;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    text-transform: none;
    text-decoration: none;
    opacity: 0.7;
    color: #121212;
    transition: color 0.4s ease-out;
    font-family: "CerebriSans-Medium";
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
}
.navigationLinks>ul>li a.active{
    color: #4f87fb;
    opacity: 1 !important;
}
.navigationLinks>ul>li a::before{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #4f87fb;
    right: auto;
    margin-right: 50%;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out
}
.navigationLinks>ul>li a:hover::before{
    width: 100%;
    margin: auto;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}    
ul.menulist{
    display: none;
    opacity: 0;
    width: 150px;
    height: auto;
    z-index: 2;
    padding: 10px 10px;
    margin: 0;
    box-shadow: 0 2px 5px 0 #ccc;
    position: absolute;
    top: 110%;
    list-style: none;
    border-radius: 4px;
    background-color: #ffffff;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    outline: none;
    border: none;
}
ul.menulist.active{
    display: block;
    opacity: 1;
}
ul.menulist::after{        
    height: 0;
    width: 0;
    position: absolute;
    content: '';
    top: -5px;
    left: 10px;
    border-width: 0 6px 7px 6px;
    border-style: solid;
    border-color: #fff transparent;
}
ul.menulist li a{
   height: 30px;
   width: 100%;
   padding: 5px 0;
   margin: 0;
   display: block;
   position: relative;
   font-size: 14px;
   font-weight: lighter;
   font-family: "CerebriSans-Light";
   outline: none;
   border: none;
}
li.noHover a::before{
    display: none;;
}
li.noHover a:hover::before{
    display: none;
}
.navigationLinks>ul>li>div.signupBtn{
    padding: 10px 0;
    margin-left: 10px;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    outline: none;
    border: none;
}
.navigationLinks>ul>li>div.signupBtn a{
    height: 40px;
    width: auto;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none !important;
    border: none;
    color: #ffffff;
    background-color: #4f87fb;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    font-family: "CerebriSans-Medium";
    cursor: pointer;
    text-align: center;
    opacity: 1 !important;
}
.navigationLinks>ul>li>div.signupBtn a:hover{
    box-shadow: 0 2px 15px 0 rgba(79, 135, 251, 0.5);
    cursor: pointer;
}

div.payment{
    height: auto;
    width: 100%;
    padding: 60px 100px;
    display: inline-block;
    position: relative;
}
.custom-panel{
    opacity: 0.7;
    border-radius: 0 !important;
}
.panel-heading{
    background-color: #4787fb;
    border-radius: 0;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 0 10px;
}
.panel-title{
    width: 100%;
    height: 40px;
    display: block;
    position: relative;
    border-radius: 0;
    padding: 5px 0;
}
.panel-title a{
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    display: block;
    position: relative;
    text-decoration: none;
    text-align: left;
    padding: 5px 0;
    color: #ffffff;
    font-family: "CerebriSans-Medium";
    font-weight: 18px;
    font-size: 500;
    text-transform: capitalize;
}
.panel-title a::after{
    height: 0;
    width: 0;
    position: absolute;
    content: '';
    z-index: 2;
    top: 10px;
    right: 15px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}
.panel-body{
    border-bottom: 1px solid #4f87fb;
}
.panel-body div.labels{
    width: 180px;
    height: 100%;
    display: block;
    float: left;
    position: relative;
}
.panel-body div.labelProperties{
    width: calc(100% - 180px);
    height: 100%;
    display: block;
    float: left;
    position: relative;
}
.panel-body div.labels p{
    font-size: 16px;
    font-family: "CerebriSans-Medium";
    font-weight: lighter;
    text-transform: capitalize; 
}
.panel-body div.labelProperties h4{
    height: 22.85px;
    font-size: 16px;
    font-family: "CerebriSans-Regular";
    font-weight: lighter;
    text-transform: capitalize; 
    margin: 0 0 10px 0;
}
