html,body{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: inline-block;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
::-webkit-scrollbar{
    width: 7.5px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #4787fb;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #4787fb;
}
p{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Cerebri Sans";
    src: url("../fonts/CerebriSans-Book.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans Light"; 
    src: url("../fonts/CerebriSans-Light.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Medium";
    src: url("../fonts/CerebriSans-Medium.otf") format("opentype")
}
@font-face{
    font-family: "CerebriSans-Regular"; 
    src: url("../fonts/CerebriSans-Regular.otf") format("opentype");
}
@media screen and (min-width:768px) {
    #wrapper{
        width: 100%;
        height: auto;
        padding: 10px 30px 0 30px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    /* START RULE FOR NAVIGATION */
    .navigation{
        width: 100%;
        height: auto;
        padding: 0 50px;
        margin: 0;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
        position: relative;
        background-color: #ffffff;
    }    
    .navigation>div.logo{
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        display: block;
        float: left;
        position: relative; 
        cursor: pointer;
    }
    .navigation>div.logo a>img{        
        width: 60px;
        height: 60px;
        position: relative;
        display: block;
    }
    .navigation>div.links{
        width: calc(100% - 60px);
        height: auto;
        padding: 0;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    .navigation>div.links ul{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
        position: relative;
        text-align: right;
    }
    .navigation>div.links ul>li{
        height: auto;
        width: auto;
        padding: 0;
        margin: 0;        
        display: inline-block;
        position: relative;
    }  
    .navigation>div.links ul>li a{
        display: block;
        height: 60px;
        width: auto;
        padding: 20px 10px;
        margin: 0;
        cursor: pointer;
        font-family: "CerebriSans-Medium";
        font-size: 16px;
        outline: none;
        text-transform: capitalize;     
        text-decoration: none;   
        opacity: 0.7 !important;
        color: #121212;
        transition: color 0.4s ease-out;
    }
    .navigation>div.links ul>li a.active{
        color: #4f87fb;
        opacity: 1 !important;
    }
    /* DONT FORGET TO ADD CLASS ACTIVE TO LINKS */

    .navigation>div.links>ul>li a:before {
        position: absolute;    
        content: "";    
        width: 0;    
        height: 2px;    
        background-color: #4f87fb;
        left: auto;    
        margin-left: -15px;    
        bottom: 0;    
        opacity: 0;    
        -webkit-transform: translateX(15px);    
        -moz-transform: translateX(15px);
        -ms-transform: translateX(15px);
        -o-transform: translateX(15px);
        transform: translateX(15px);
        -webkit-transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);    
        transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    }
    .navigation>div.links>ul>li a:hover:before {
        width: 50px;
        margin: auto;    
        opacity: 1;    
        -webkit-transform: translateX(0);    
        -moz-transform: translateX(0);    
        -ms-transform: translateX(0);
        -o-transform: translateX(0);    
        transform: translateX(0)
    }
    .navigation>div.links .signUp{
        height: 60px;
        width: auto;
        padding: 10px 0 10px 15px;
        margin: 0;
        display: block;
        position: relative;
        float: right;
        opacity: 1 !important;
    }
    .navigation .links ul input[type=button]{
        height: 40px;
        width: auto;
        margin: 0;
        padding: 0 20px;
        border-radius: 20px;
        color: #ffffff;
        background-color: #4f87fb;
        border: none;
        box-shadow: none;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        cursor: pointer;
        opacity: 1 !important;
        outline: none;
    }
    .navigation .links ul input[type=button]:hover{
        box-shadow: 0 2px 15px 0 rgba(79, 135, 251, 0.5);
        cursor: pointer;
    }
    /* END OF NAVIGATION RULE */

    /* FORM ROW RULE */
    #formRow{
        width: 100%;
        height: auto;
        padding: 30px 50px 10px 50px;
        margin: 0;
        display: inline-block;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .close{ display: none !important}
    #formRow>form>div{
        display: block;
        float: left !important;
        position: relative;
        height: auto;
        padding: 10px 0;
    }
    #formRow>form>div>p{           
        width: 100%;
        height: auto;
        font-family: "Cerebri Sans";
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #4a4a4a;
        padding: 5px 0;
        margin: 0;
        text-transform: capitalize;
    }
    #formRow>form>div>p.morefilter, #formRow>form>div>p.lessfilter{
        font-size: 14px;
        font-weight: 300;
        font-family: "CerebriSans Light";
    }
    #formRow>form>div>select, input{    
        width: 100%;
        height: 50px;
        border-radius: 2px;
        border: solid 1px #cdcdcd;
        margin: 0;
        padding: 15px 10px 14px 10px;
        box-sizing: border-box;
        opacity: 0.7;
        text-transform: capitalize;
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
        /* dont forget to add the chevron downward button */
    }
    #formRow>form>div.location{
        width: 300px;
        height: auto;
    }
    #formRow>form>div.state{
        width: 170px;
        height: auto;
        margin-right: 15px;
    }
    #formRow>form>div.duration{
        width: 210px;
        height: auto;
        margin: 0 15px 0 15px;
    }
    #formRow>form>div.min-price{
        width: 150px;
        height: auto;
        margin: 0 0 0 15px;
    }
    #formRow>form>div.max-price{
        width: 150px;
        height: auto;
        margin-right: 15px;
    }
    #formRow>form>div.guard{
        width: 119px;
        height: auto;
        margin-left: 15px;
        float: right;
    }
    #formRow>form>div.type{
        width: 232px;
        height: auto;
        margin-right: 15px;
    }
    #formRow>form>div.checkin{
        width: 144px;
        height: auto;
        margin-left: 15px;
    }
    #formRow>form>div.checkout{
        width: 144px;
        height: auto;
        margin-right: 15px;
    }
    #formRow>form>div.parking-space{
        width: 150px;
        height: auto;
        margin: 0 15px 0 15px;
    }
    #formRow>form>div.fence{
        width: 124px;
        height: auto;
        margin: 0 15px 0 15px;
    }
    #formRow>form>div.button{
        width: 130px;
        height: 100%;
        float: right;
        display: block !important;
        padding: 42.5px 0 0 0;
        margin: 0;
        opacity: 1;
    }
    #formRow>form>div.button>input[type=submit]{
        height: 100%;
        width: 100%;
        border-radius: 4px;
        padding: 14px 15px;
        background-color: #4f87fb;
        color: #ffffff;
        text-transform: capitalize;
        font-size: 16px;
        font-family: "CerebriSans-Medium";
        cursor: pointer;
        opacity: 1 !important;
    }

    /* SEARCH QUERY RESULT */
    #search-query-result{
        width: 100%;
        height: auto;
        padding: 20px 50px;
        margin: 0;
        display: inline-block;
    }
    #search-query-result>.sort{
        width: 100%;
        height: auto;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #search-query-result>.sort>p{
        width: 100%;
        height: auto;
        font-family: "Cerebri Sans";
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #4a4a4a;
        padding: 5px 0;
        margin: 0;
        text-transform: capitalize;
    }
    #search-query-result>.sort>select{
        width: 20%;
        height: 50px;
        border-radius: 2px;
        border: solid 1px #cdcdcd;
        margin: 0;
        padding: 15px 10px 14px 10px;
        box-sizing: border-box;
        opacity: 0.7;
        text-transform: capitalize;
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
    }
    #search-query-result>.search-result{
        width: 100%;
        height: auto;
        display: block;
        float: left;
        position: relative;
        padding: 35px 0;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);    
    }



    #search-query-result>.search-result>div{
        display: block;
        float: left;
        height: auto;
    }
    #search-query-result>.search-result>div.space-images{        
        width: 30%;
        height: 210px;
        display: block;
        position: relative;
    }
    .item>img{
        width: 100%;
        height: 100%;
    }
    div.leftbtn, div.rightbtn{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        z-index: 4;
        opacity: 1;
        background-color: #ffffff;
    }
    div.leftbtn{
        left: 20px; 
        background-image: url("../assets/icons/left@2x.png");
    }
    div.rightbtn{
        right: 20px;
        background-image: url("../assets/icons/right@2x.png");
    }
    .carousel-control, .carousel-control:hover{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        opacity: 0;
        border-radius: 50%;
    }

    #search-query-result>.search-result>div.space-details{
        width: 60%;
        height: auto;
        background-color: transparent;
        padding: 10px 60px 10px 40px;
    }
    #search-query-result>.search-result>div.space-rating{
        width: 10%;
        height: auto;
        background-color: transparent;
    }
    #search-query-result>.search-result>.space-details>p.space-name{
        font-size: 22px;
        font-family: "CerebriSans-Medium";
        font-weight: 500;
        color: #4a4a4a;
        padding: 0 0 10px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-details>p.address{
        font-size: 18px;
        font-family: "CerebriSans Light";
        font-weight: 300;
        color: #4a4a4a;
        padding: 0 0 5px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-details>p.secondary-address{
        font-size: 18px;
        font-family: "CerebriSans Light";
        font-weight: 300;
        color: #4a4a4a;
        padding: 0 0 10px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-details>p.description{
        font-size: 18px;
        font-family: "CerebriSans Light";
        font-weight: 300;
        color: #4a4a4a;
        padding: 5px 0 5px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-details>p.amount{
        font-size: 18px;
        font-family: "CerebriSans-Medium";
        font-weight: 500;
        text-align: left;
        text-transform: none;
        color: #4a4a4a;
        padding: 10px 0 5px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-rating>p{
        font-size: 16px;
        font-family: "CerebriSans-Medium";
        font-weight: 300;
        text-align: right;
        text-transform: none;
        color: #4a4a4a;
        padding: 10px 0 5px 0;
        margin: 0;
    }


    .pagination{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 50px 40px 50px;
        position: relative;
        display: inline-block;
    }
    .pagination>ul{
        height: 100%;
        width: 500px;
        display: block;
        position: relative;
        padding: 0;
        margin: auto;
    }
    .pagination ul li{
        height: auto;
        width: auto;
        display: block;
        float: left;
        cursor: pointer;
        padding: 5px;
        border: 1px solid #eeeeee;
        list-style: none;
    }
    .pagination ul li:first-child, .pagination ul li:last-child{
        border-radius: 4px;
        margin: 0 10px;
    }
    .pagination ul li:first-child{
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/icons/left@2x.png")
    }
    .pagination ul li:last-child{
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/icons/right@2x.png")}
    .pagination ul li:nth-child(2){
        border-radius: 4px 0 0 4px;
    }
    .pagination ul li:nth-child(7){
        border-radius: 0 4px 4px 0;
    }
    .pagination ul li a{
        height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        padding: 5px;
        font-size: 22px;
        font-weight: 300;
        font-family: "CerebriSans-Regular";
        color: #4f87fb;
        position: relative;
        display: block;
    }
    .pagination ul li a.active{
        color: #121212;
        opacity: 0.7 !important;
    }
}