@font-face{
    font-family: "Cerebri-Sans";
    src: url("../fonts/CerebriSans-Book.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Light"; 
    src: url("../fonts/CerebriSans-Light.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Medium";
    src: url("../fonts/CerebriSans-Medium.otf") format("opentype")
}
@font-face{
    font-family: "CerebriSans-Regular"; 
    src: url("../fonts/CerebriSans-Regular.otf") format("opentype");
}

::-webkit-scrollbar{
    width: 7.5px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #4787fb;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #4787fb;
}
.fa{
    background-color: transparent;
    color: #4785fb;
    right: 0;
    position: relative;
    font-size: 16px
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}

html,body{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: inline-block;
}

body::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #121212;
    opacity: 0.7;
    z-index: 4;
    display: none;
    overflow: hidden !important;
}
/* 
    styling the SIGNIN OPTIONS 
*/
.formRow{
    width: 458px;
    height: auto; 
    margin: auto; 
    padding: 0 49px !important;
    background-color: #ffffff;
    position: absolute;     
    left: 0;
    right: 0;
    top: 50% !important;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateY(-50%);
    user-select: none;
    display: block;
    z-index: 5;
}
#signup-options>.close, #signin-option>.close, #register-option>.close{
    position: absolute;
    top: 15px;
    right: -30px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    margin: 0;
    background-size: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../assets/icons/close@2x.png");
    background-color: #ffffff;
    display: block !important;
    z-index: 7;
    cursor: pointer;
}
/* styling the div's for each form */
#signup-options, #signin-option, #register-option{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 !important;
    background-color: transparent;
    position: relative; 
    box-sizing: border-box;
    user-select: none; 
    z-index: 5;
    display: none;/* to be changed to hidden */
}
    /* 
        styling the SIGNUP OPTIONS 
    */
    #signup-options>div{
        width: 100%;
        height: 48px;
        padding: 12px 15px;
        margin: 8px 0 0 0;
        display: block;
        position: relative;
        border-radius: 2px;
        background-repeat: no-repeat;
        background-position: 40px;
        background-size: 27px 24px;
    }
    #signup-options>div>i{
        height: 24px;
        width: 25px;
        display: block;
        float: left;
        padding-left: 20px;
    }
    #signup-options>div>i.fa{
        color: #ffffff;
        font-size: 24px;
    }
    #signup-options>div.facebook{
        background-color: #3b5197;
        cursor: pointer;
    }
    #signup-options>div.google{
        background-color: #4285f4;
        cursor: pointer;
    } 
    #signup-options>div.emailOpt{
        background-color: #ad092b;
        cursor: pointer;
    }
    #signup-options>p{
        width: 100%;
        font-family: "Cerebri-Sans";
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        padding: 42px 0 20px 0;
        margin: 0;
        text-transform: capitalize;
    }
    #signup-options>span{
        text-align: center;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        color: #616161;
        padding: 5px 0 0 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
    }
    #signup-options>.agree{    
        font-family: "Cerebri-Sans";
        font-size: 13px;
        line-height: 1.54;
        text-align: center;
        color: #636b7a;
        padding: 4px 5px;
        margin: 8px 0 0 0;
    }
    .facebook>p>a, .google>p>a, .emailOpt>p{    
        font-family: "Cerebri-Sans";
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-align: center !important;
        text-decoration: none;
        color: #ffffff;
        background-color: transparent;
        height: 24px;
        padding: 3px 0;
        margin: 0;
        width: calc(100% - 24px);
        height: 100%;
        display: block;
    }
    #signup-options>.baseOpt{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        box-sizing: border-box;
        margin: 23px 0 0 0;
        padding: 15px 0;
    }  
    .baseOpt>p{    
        height: 40px;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        line-height: 1.47;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
        width: auto;
        padding: 10px 32px 0 0;
        margin: 0;
    }
    .baseOpt>input[type=submit]{    
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    /* styling the div's for each form */
#signin-option{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 !important;
    background-color: transparent;
    position: relative; 
    box-sizing: border-box;
    user-select: none; 
    z-index: 6;
    display: none;/* to be changed to hidden */
}
    #signin-option>p:nth-child(2){    
        font-family: 'Cerebri-Sans';
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        text-transform: capitalize;
        box-sizing: border-box;
        padding: 42px 0 24px 0 !important;
        margin: 0;
    }
    .socialmedia-option{
        display: inline-block;
        position: relative;
        height: 47px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .socialmedia-option>div{
        width: calc(98%/2) !important;
        height: 47px;
        padding: 10px 0;
        margin: 0;
        box-sizing: border-box;
        display: block;
        float: left;
        position: relative;
        border-radius: 2px;
    }
    .socialmedia-option>div.facebookOpt{
        background-color: #3b5197;
        margin: 0 1% 0 0;
        padding-left: 12.5px; 
    }
    .socialmedia-option>div.facebookOpt>i, .socialmedia-option>div.googleOpt>i{
        width: 25px;
        height: 24px;
        display: block;
        float: left;
        position: relative;
    }
    .socialmedia-option>div.facebookOpt>i.fa, .socialmedia-option>div.googleOpt>i.fa{
        color: #ffffff;
        font-size: 24px;
    }
    .socialmedia-option>div.googleOpt{
        background-color: #4285f4;
        margin: 0 0 0 1%;
        padding-left: 12.5px; 
    }
    .facebookOpt>p>a, .googleOpt>p>a{
        height: 100%;
        width: calc(100% - 25px);
        font-family: "Cerebri-Sans";
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.3px;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        padding: 4px 0;
        margin: 0;
    }
    #signin-option>span{
        text-align: center;
        height: 19px;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        color: #616161;
        padding: 10px 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
    }
    #signin-option>form{
        height: auto;
        width: 100%;
        display: block !important;
    }
    #signin-option>form>div+div{
        height: 48px;
        width: 100%;
        padding: 0;
        margin: 5.5px 0;
        box-sizing: border-box;
        border-radius: 4px;
    }
    #signin-option>form>div input{    
        height: 48px;
        width: 100%;
        padding: 10px 5px 10px 40px;;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #909398;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px ;
    }
    div input[type=email]{    
        background-image: url("../assets/icons/at.png");
        background-size: 24px 24px;
        width: 100% !important;
        color: #616161;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }
    div input[type=password]{
        background-image: url("../assets/icons/lock.png");
        background-size: 24px 24px;
        color: #616161;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }
    div input[type=checkbox],div input[type=checkbox]:checked{
        margin: 7.5px 0;;
        padding: 0;
        float: left;
        display: block;
        box-sizing: border-box;
    } 
    form>p{
        padding: 4px 20px;
        font-family: "Cerebri-Sans";
        font-weight: 500;
        font-size: 15px;
        color: #616161;
        margin: 0;
    }
    form>.submitBtn{
        height: 48px;
        width: 100%;
        display: block;
        position: relative;
        border-radius: 2px;
        padding: 0;
        margin: 5px 0 0 0;
        box-sizing: border-box;
        background-color: #4285f4;
        cursor: pointer;
        outline: none !important;
    }
    form>.submitBtn>input[type=submit]{
        height: 100%;
        width: 100%;
        padding: 12px 0 !important;
        margin: 0;        
        font-family: "Cerebri-Sans";
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        text-transform: capitalize;
        background-color: transparent;
        display: block;
        position: relative;
        cursor: pointer;
        border: none !important;
        outline: none;
    }
    #signin-option>p:nth-child(6){        
        padding: 10px 0;
        margin: 0;
        height: auto;
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        font-size: 15px;
        font-family: "Cerebri-Sans";
        color: #4f87fb;
        text-transform: capitalize;
        cursor: pointer;
    }
    .base{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        margin: 12px 0 0 0;
        padding: 15px 0;
    }   
    .base>p{    
        height: 40px;
        width: auto;
        padding: 10px 32px 0 0;
        margin: 0;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
    }
    .base>input[type=submit]{    
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    #signin-option ::placeholder, #register-option ::placeholder{
        color: #616161 !important;
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
    }
@media screen and (min-width: 768px){
    /* SEARCH MAIN PAGE */
    #searchWrapper{
        width: 100%;
        height: auto;
        display: block;
    }
    .menu-bar{
        display: none !important;
    }
    /* RULE FOR NAVIGATION */
    #navigation{
        width: 100%;
        height: 60px;
        display: inline-block;
        position: relative;
        top: -5px !important;
        padding: 0 100px;
        margin: 0 !important;
        background-color: #ffffff;
        border-bottom: none;
        border-bottom: 1px solid #4f87fb !important;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    #navigation.active{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        border-bottom: 1px solid #4f87fb !important;
        z-index: 4;
    }
    #navigation>.companyLogo{
        float: left;
        display: block;
        position: relative;
        padding: 5px 0;
        margin: 0;
        height: 100%;
        max-height: 60px;
        width: 50px;
    }
    #navigation>.companyLogo>a{
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
    }
    #navigation>.companyLogo>a img{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    #navigation>.navigationLinks{
        width: calc(100% - 60px);
        height: 100%;
        max-height: 60px;
        background-color: #ffffff;
        position: relative;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .navigationLinks>ul{
        list-style: none;
        height: 100%;
        width: auto;
        position: relative;
        display: block;
        float: right;
        padding: 0;
        margin: 0;
    }
    .navigationLinks>ul>li{
        width: auto;
        height: 100%;
        display: block;
        position: relative;
        float: left;
    }
    .navigationLinks>ul>li a{
        padding: 20px 0;
        height: 100%;
        width: auto;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        text-transform: none;
        text-decoration: none;
        opacity: 0.7;
        color: #121212;
        transition: color 0.4s ease-out;
        font-family: "CerebriSans-Medium";
        font-size: 16px;
        font-weight: 500;
        margin: 0 10px;
    }
    .navigationLinks>ul>li a.active{
        color: #4f87fb;
        opacity: 1 !important;
    }
    .navigationLinks>ul>li a::before{
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background-color: #4f87fb;
        right: auto;
        margin-right: 50%;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.35s ease-out;
        -o-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out
    }
    .navigationLinks>ul>li a:hover::before{
        width: 100%;
        margin: auto;
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }    
    ul.menulist{
        display: none;
        opacity: 0;
        width: 150px;
        height: auto;
        z-index: 4;
        padding: 10px 10px;
        margin: 0;
        box-shadow: 0 2px 5px 0 #ccc;
        position: absolute;
        top: 110%;
        list-style: none;
        border-radius: 4px;
        background-color: #ffffff;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        outline: none;
        border: none;
    }
    ul.menulist.active{
        display: block;
        opacity: 1;
    }
    ul.menulist::after{        
        height: 0;
        width: 0;
        position: absolute;
        content: '';
        top: -5px;
        left: 10px;
        border-width: 0 6px 7px 6px;
        border-style: solid;
        border-color: #fff transparent;
    }
    ul.menulist li a{
       height: 30px;
       width: 100%;
       padding: 5px 0;
       margin: 0;
       display: block;
       position: relative;
       font-size: 14px;
       font-weight: lighter;
       font-family: "CerebriSans-Light";
       outline: none;
       border: none;
    }
    li.noHover a::before{
        display: none;;
    }
    li.noHover a:hover::before{
        display: none;
    }
    .navigationLinks>ul>li>div.signupBtn{
        padding: 10px 0;
        margin-left: 10px;
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        outline: none;
        border: none;
    }
    .navigationLinks>ul>li>div.signupBtn a{
        height: 40px;
        width: auto;
        border-radius: 20px;
        padding: 10px 15px;
        outline: none !important;
        border: none;
        color: #ffffff;
        background-color: #4f87fb;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        cursor: pointer;
        text-align: center;
        opacity: 1 !important;
    }
    .navigationLinks>ul>li>div.signupBtn a:hover{
        box-shadow: 0 2px 15px 0 rgba(79, 135, 251, 0.5);
        cursor: pointer;
    }

    /* FORM ROW RULE */
    #formRow{
        width: 100%;
        height: auto;
        padding: 30px 100px 10px 100px;
        margin: 0;
        display: inline-block;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        z-index: 2;
    }
    div#formRow form.SS{
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
    }
    div#formRow form.SS div{ 
        display: block;
        position: relative;
        width: auto;
        float: left !important;
        padding: 10px  0;
        margin: 0 10px;
    }
    div#formRow form.SS div p{           
        width: 100%;
        height: auto;
        display: block;
        float: left;
        position: relative;
        font-family: "Cerebri-Sans";
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #4a4a4a;
        padding: 5px 0;
        margin: 0;
        text-transform: capitalize;
    }
    div#formRow form.SS div div{
        height: 50px;  
        width: 100%;
        border-radius: 4px;
        border: solid 1px #cdcdcd;
        position: relative;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
    }
    div#formRow form.SS div div::after{        
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -3px; 
        border-width: 5px 5px 0 5px;
        border-style: solid;
        border-top-color: #ffffff;
        border-color: #4f87fb transparent;
    }
    div#formRow form.SS div div span{
        color: #4a4a4a;
        font-family: "CerebriSans-Light";
        font-weight: 300;
        font-size: 16px;
        height: 100%;
        width: 100%;
        padding: 15px 10px;
        display: block;
        cursor: pointer;
        text-transform: capitalize;
    }
    div#formRow form.SS div div ul.searchList{
        position: absolute;
        top: 120%;
        left: 0;
        right: 0;
        background: white;
        border-radius: inherit;
        border: 1px solid rgba(0,0,0,0.17);
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        font-weight: normal;
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
        list-style: none;
        opacity: 0;
        display: none;
    }    
    div#formRow form.SS div div ul.searchList::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 11px;
        border-width: 0 7px 7px 7px;
        border-style: solid;
        border-color: #fff transparent;
        z-index: 5;
    }
    div#formRow form.SS div div ul.searchList:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 10px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: rgba(0,0,0,0.1) transparent;
        z-index: 5;
    }
    /* Active state */
    div#formRow form.SS div div ul.searchList.active{
        opacity: 1;
        z-index: 3;
        display: block;
    }
    div#formRow form.SS div div ul.searchList li{
        width: 100%;
        height: 100%;
        display: list-item;
        text-align: left;
    }
    div#formRow form.SS div div ul.searchList li p{
        width: 100%;
        height: 100%;
        display: block;
        padding: 5px 10px;
        text-transform: capitalize;
        font-family: "CerebriSans-Light";
        font-size: 16px;
        font-weight: 400;
        color: #4a4a4a;
        border-bottom: 1px solid #e6e8ea;
        box-shadow: inset 0 1px 0 rgba(255,255,255,1);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        cursor: pointer;
    }
    div#formRow form.SS div div ul.searchList li p:hover{
        color: #4f87fb;
        cursor: pointer;
    }
    div#formRow form.SS div div#min-price, div#formRow form.SS div div#max-price{
        width: 150px !important;
        height: 50px;
        padding: 0 ;
        display: block;
        position: relative;
        float: left;
        margin: 0;
        background: transparent !important;
    }
    div#formRow form.SS div div#min-price::before, div#formRow form.SS div div#max-price::before{
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        top: 0;
        border: 0;
        left: 0;
        right: 0;
        content: "NGN";
        color: #4a4a4a;
        font-size: 16px;
        font-weight: 400;
        font-family: "CerebriSans-Light";
        opacity: 0.9;
        padding: 15px 0 15px 5px;
    }
    div#formRow form.SS div div#min-price::after, div#formRow form.SS div div#max-price::after{
        display: none;
        z-index: -1000;
    }
    div#formRow form.SS div div#min-price input, div#formRow form.SS div div#max-price input{
        width: 100%;
        height: 100%;
        padding: 17px 5px 15px 50px;
        margin: 0;
        border: 0;
        font-size: 16px;
        font-weight: 400;
        font-family: "CerebriSans-Light";
        z-index: 2;
        display: block;
        position: relative;
        background: transparent !important;
        color: #4a4a4a;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    div#formRow form.SS div.location{
        width: 150px;
        height: auto;
    }
    div#formRow form.SS div.duration{
        width: 180px;
        height: auto;
    }
    div#formRow form.SS div.min-price{
        width: 150px;
        height: auto;
    }
    div#formRow form.SS div.max-price{
        width: 150px;
        height: auto;
    }
    div#formRow form.SS div.guard{
        width: 80px;
        height: auto;
        float: left;
    }
    div#formRow form.SS div.type{
        width: 170px;
        height: auto;
    }
    div#formRow form.SS div.parking-space{
        width: 120px;
        height: auto;
    }
    div#formRow form.SS div.fence{
        width: 100px;
        height: auto;
    }
    div#formRow form.SS div.button{
        width: 104px;
        height: 100%;
        float: left;
        display: block !important;
        padding: 42px 0 0 0;
        margin: 0;
        opacity: 1;
    }
    div#formRow form.SS div.button>input[type=submit]{
        height: 100%;
        width: 100%;
        border-radius: 4px;
        height: 50px;
        padding: 14px 15px;
        background-color: #4f87fb;
        color: #ffffff;
        text-transform: capitalize;
        font-size: 16px;
        font-family: "CerebriSans-Medium";
        cursor: pointer;
        opacity: 1 !important;
        border: none;
        outline: none;
    }
    /* 
        STYLING THE JOIN SPLEET OPTION
    */
    #register-option>p{
        font-family: 'Cerebri-Sans';
        font-size: 24px;
        font-weight: 500;
        line-height: 1.42;
        text-align: center;
        color: #121212;
        text-transform: capitalize;
        padding: 42px 0 24px 0;
        margin: 0;
    }
    #register-option>form{
        width: 100%;
        height: 100% !important;
        padding: 0;
        margin: 0;
        display: block !important;
        position: relative;
    }
    #register-option>form>div{
        height: 48px;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
    }
    #register-option>form>div+div{
        margin: 5.5px 0;
        padding: 0;
    }
    #register-option>form>div>input{
        height: 48px;
        width: 100%;
        padding: 10px 5px 10px 40px;
        margin: 0;
        border-radius: 4px;
        border: 1px solid #909398;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 10px;    
    }
    #register-option>form>div>input[type=submit]{    
        height: 48px;
        width: 100%;
        padding: 12px 0;
        margin: 15px 0 !important;
        border-radius: 4px;
        border: none;
        background-color: #4285f4;  
        color: #ffffff; 
        position: relative;
        display: block; 
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    #register-option>p:nth-child(4){
        text-align: center;
        color: #616161;
        display: block;
        position: relative;
        font-size: 15px;
        font-family: "Cerebri-Sans";
        text-transform: capitalize;
        padding: 15px 0;
        margin: 0;
    }
    #register-option>p:nth-child(4)>span{
        color: #4f87fb;
    }
    #register-option>.baseOpt{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: block;
        margin: 0;
        padding: 15px 0;
    } 
    #register-option>.baseOpt>p{    
        height: 40px;
        font-family: "Cerebri-Sans";
        font-size: 15px;
        line-height: 1.47;
        text-align: left;
        color: #121212;
        float: left;
        display: block;
        width: auto;
        padding: 10px 32px 0 0 !important;
        margin: 0;
    }
    #register-option>.baseOpt>input[type=submit]{    
        width: 110px;
        height: 40px;
        border-radius: 2px;
        border: solid 1px #4f87fb;
        background-color: #ffffff;
        color: #4f87fb;
        padding: 7.5px 0;
        margin: 0;
        float: left;
        display: block;
        text-transform: capitalize;
        font-family: "Cerebri-Sans";
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    /* END OF FORMS */
    
    /* POP UP ERRORS */
    div#pop-up{
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        background-color: #4787fb;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
    }
    div#pop-up.active{
        height: 50px;
        padding: 10px 0;
    }
    div#pop-up div.errorMsg{
        width: calc(100% - 25px);
        height: 100%;
        padding: 2.5px 0;
        margin: 0;
        display: block;
        position: relative;
        float: left;
    }
    div#pop-up div.errorMsg p{
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    div#pop-up div.closeIcon{
        width: 25px;
        height: 100%;
        margin: 0;
        padding: 2.5px;
        display: block;
        position: relative;
        float: left;
        cursor: pointer;
    }
    div#pop-up div.closeIcon i.fa{
        font-size: 16px;
        color: #ffffff;
    }

    /* SEARCH QUERY RESULT */
    #search-query-result{
        width: 100%;
        height: auto;
        padding: 20px 100px;
        margin: 0;
        display: inline-block;
    }
    #search-query-result>.sort{
        width: 100%;
        height: auto;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
        position: relative;
        z-index: 3;
        background-color: #ffffff;
        opacity: 1;
    }  
    #search-query-result>.sort>p{
        width: 100%;
        height: auto;
        font-family: "Cerebri-Sans";
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #4a4a4a;
        padding: 5px 0;
        margin: 0;
        text-transform: capitalize;
    }
    #search-query-result>.sort>#sort-by{
        width: 20%;
        height: 50px;
        border-radius: 2px;
        border: solid 1px #cdcdcd;
        box-sizing: border-box;
        text-transform: capitalize;
        display: block;
        position: relative;
    }         
    #search-query-result>.sort>#sort-by::after{        
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 12.5px;
        margin-top: -25px;
        border-width: 5px 5px 0 5px;
        border-style: solid;
        border-top-color: #ffffff;
        border-color: #4f87fb transparent;
    }
    #search-query-result>.sort>#sort-by>span{        
        color: #4a4a4a;
        opacity: 0.7;
        font-family: "CerebriSans-Light";
        font-weight: 300;
        font-size: 16px;
        height: 100%;
        width: 100%;
        padding: 15px 10px;
        display: block;
        cursor: pointer;
        text-transform: capitalize;
    }
    #search-query-result>.sort>#sort-by>.sortList{
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,0.17);
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        font-weight: normal;
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
        list-style: none;
        opacity: 0;
        background: #ffffff;
        width: auto;
        display: block;
    }
    #search-query-result>.sort>#sort-by>.sortList.active{
        opacity: 1;
        background-color: #ffffff;
        display: block;
    }
    #search-query-result>.sort>#sort-by>.sortList>li{
        display: list-item;
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
    }
    #search-query-result>.sort>#sort-by>.sortList>li>p{
        display: block;
        padding: 10px;
        text-transform: capitalize;
        font-family: "CerebriSans-Light";
        font-size: 16px;
        font-weight: 400;
        color: #4a4a4a;
        border-bottom: 1px solid #e6e8ea;
        box-shadow: inset 0 1px 0 rgba(255,255,255,1);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        cursor: pointer;
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        opacity: 0.9;
    }
    #search-query-result>.sort>#sort-by>.sortList>li>p:hover{
        color: #4f87fb;
        cursor: pointer;
    }
    #search-query-result>.search-result{
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        padding: 20px 0;
        margin: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);    
        cursor: pointer;
    }
    #search-query-result>.search-result>div{
        display: block;
        float: left;
        height: auto;
    }
    #search-query-result>.search-result>.space-images{
        width: 30%;
        height: 210px;
        position: relative;
    }
    #search-query-result>.search-result>.space-images>img{
        height: 100%;
        width: 0;
        float: left;
        left: 0;
        display: block;
        position: relative;        
        -webkit-transition: left,width .5s ease-out ;
        -o-transition: left,width .5s ease-out ;
        transition: left,width .5s ease-out ;
    }
    #search-query-result>.search-result>.space-images>img.active{
        width: 100%;
        left: 0;
        position: relative;
        float: left;
        display: block;
    }
    #search-query-result>.search-result>.space-images>div{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        z-index: 3;
        opacity: 1;
    }
    #search-query-result>.search-result>.space-images>div>a{
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
    }
    #search-query-result>.search-result>.space-images>div.leftbtn{
        left: 20px; 
        background-image: url("../assets/icons/left@2x.png");
    }
    #search-query-result>.search-result>.space-images>div.rightbtn{
        right: 20px;
        background-image: url("../assets/icons/right@2x.png");
    }

    #search-query-result>.search-result>div.space-details{
        width: 60%;
        height: auto;
        background-color: transparent;
        padding: 10px 60px 10px 40px;
    }
    #search-query-result>.search-result>div.space-rating{
        width: 10%;
        height: auto;
        background-color: transparent;
    }
    #search-query-result>.search-result>.space-details>p.space-name{
        font-size: 22px;
        font-family: "CerebriSans-Medium";
        font-weight: 500;
        color: #4a4a4a;
        padding: 0 0 10px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-details>p.address{
        font-size: 16px;
        font-family: "CerebriSans-Light";
        font-weight: 300;
        color: #4a4a4a;
        padding: 0 0 5px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-details>p.secondary-address{
        font-size: 15px;
        font-family: "CerebriSans-Light";
        font-weight: 300;
        color: #4a4a4a;
        padding: 0 0 10px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-details>p.description{
        font-size: 16px;
        font-family: "CerebriSans-Light";
        font-weight: 300;
        color: #4a4a4a;
        padding: 5px 0 5px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-details>p.amount{
        font-size: 16px;
        font-family: "CerebriSans-Medium";
        font-weight: 500;
        text-align: left;
        text-transform: none;
        color: #4a4a4a;
        padding: 10px 0 5px 0;
        margin: 0;
    }
    #search-query-result>.search-result>.space-rating>p{
        font-size: 14px;
        font-family: "CerebriSans-Medium";
        font-weight: 300;
        text-align: left;
        text-transform: none;
        color: #4a4a4a;
        padding: 10px 0 5px 0;
        margin: 0;
    }

    .pagination{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 50px 40px 50px;
        position: relative;
        display: inline-block;
    }
    .pagination>ul{
        height: 100%;
        width: 500px;
        display: block;
        position: relative;
        padding: 0;
        margin: auto;
    }
    .pagination ul li{
        height: auto;
        width: auto;
        display: block;
        float: left;
        cursor: pointer;
        padding: 5px;
        border: 1px solid #eeeeee;
        list-style: none;
    }
    .pagination ul li:first-child, .pagination ul li:last-child{
        border-radius: 4px;
        margin: 0 10px;
    }
    .pagination ul li:first-child{
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/icons/left@2x.png")
    }
    .pagination ul li:last-child{
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../assets/icons/right@2x.png")}
    .pagination ul li:nth-child(2){
        border-radius: 4px 0 0 4px;
    }
    .pagination ul li:nth-child(7){
        border-radius: 0 4px 4px 0;
    }
    .pagination ul li a{
        height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        padding: 5px;
        font-size: 22px;
        font-weight: 300;
        font-family: "CerebriSans-Regular";
        color: #4f87fb;
        position: relative;
        display: block;
    }
    .pagination ul li a.active{
        color: #121212;
        opacity: 0.7 !important;
    }
    




}