html,body{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: inline-block;
}
body::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #121212;
    opacity: 0.7;
    z-index: 2;
    display: none;
    overflow: hidden !important;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 7.5px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #4787fb;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #4787fb;
}

@font-face{
    font-family: "Cerebri-Sans";
    src: url("../fonts/CerebriSans-Book.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Light"; 
    src: url("../fonts/CerebriSans-Light.otf") format("opentype");
}
@font-face{
    font-family: "CerebriSans-Medium";
    src: url("../fonts/CerebriSans-Medium.otf") format("opentype")
}
@font-face{
    font-family: "CerebriSans-Regular"; 
    src: url("../fonts/CerebriSans-Regular.otf") format("opentype");
}
/* START OF FORM RULE */
.formRow{
    width: 458px;
    height: auto; 
    margin: auto; 
    padding: 0 49px !important;
    background-color: #ffffff;
    z-index: 5;
    position: absolute;     
    left: 0;
    right: 0;
    top: 50% !important;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateY(-50%);
    user-select: none;
    display: block;
    z-index: 6;
}
#signup-options>.close, #signin-option>.close, #register-option>.close{
    position: absolute;
    top: 15px;
    right: -30px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    margin: 0;
    background-size: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../assets/icons/close@2x.png");
    background-color: #ffffff;
    display: inline-block;
    z-index: 5;
    cursor: pointer;
}
/* styling the div's for each form */
#signup-options, #signin-option, #register-option{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 !important;
    background-color: transparent;
    position: relative; 
    box-sizing: border-box;
    user-select: none; 
    z-index: 5;
    display: none;/* to be changed to hidden */
    }
/* 
    styling the SIGNUP OPTIONS 
*/
#signup-options>div{
    width: 100%;
    height: 48px;
    padding: 12px 15px;
    margin: 8px 0 0 0;
    display: block;
    position: relative;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 40px;
    background-size: 27px 24px;
}
#signup-options>div>i{
    height: 24px;
    width: 25px;
    display: block;
    float: left;
    padding-left: 20px;
}
#signup-options>div>i.fa{
    color: #ffffff;
    font-size: 24px;
}
#signup-options>div.facebook{
    background-color: #3b5197;
    cursor: pointer;/* 
    background-image: url("../assets/icons/facebook@2x.png"); */
}
#signup-options>div.google{
    background-color: #4285f4;
    cursor: pointer;/* 
    background-image: url("../assets/icons/google-plus@2x.png"); */
} 
#signup-options>div.emailOpt{
    background-color: #ad092b;
    cursor: pointer;/* 
    background-image: url("../assets/icons/message@2x.png"); */
}
#signup-options>p{
    width: 100%;
    font-family: "Cerebri-Sans";
    font-size: 24px;
    font-weight: 500;
    line-height: 1.42;
    text-align: center;
    color: #121212;
    padding: 42px 0 20px 0;
    margin: 0;
    text-transform: capitalize;
}
#signup-options>span{
    text-align: center;
    font-family: "Cerebri-Sans";
    font-size: 15px;
    color: #616161;
    padding: 5px 0 0 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: block;
}
#signup-options>.agree{    
    font-family: "Cerebri-Sans";
    font-size: 13px;
    line-height: 1.54;
    text-align: center;
    color: #636b7a;
    padding: 4px 5px;
    margin: 8px 0 0 0;
}
.facebook>p>a, .google>p>a, .emailOpt>p{    
    font-family: "Cerebri-Sans";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center !important;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    height: 24px;
    padding: 3px 0;
    margin: 0;
    width: calc(100% - 24px);
    height: 100%;
    display: block;
}
#signup-options>.baseOpt{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 23px 0 0 0;
    padding: 15px 0;
}  
.baseOpt>p{    
    height: 40px;
    font-family: "Cerebri-Sans";
    font-size: 15px;
    line-height: 1.47;
    text-align: left;
    color: #121212;
    float: left;
    display: block;
    width: auto;
    padding: 10px 32px 0 0;
    margin: 0;
}
.baseOpt>input[type=submit]{    
    width: 110px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #4f87fb;
    background-color: #ffffff;
    color: #4f87fb;
    padding: 7.5px 0;
    margin: 0;
    float: left;
    display: block;
    text-transform: capitalize;
    font-family: "Cerebri-Sans";
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
/* 
    styling the SIGNIN OPTIONS 
*/
#signin-option>p:nth-child(2){    
    font-family: 'Cerebri-Sans';
    font-size: 24px;
    font-weight: 500;
    line-height: 1.42;
    text-align: center;
    color: #121212;
    text-transform: capitalize;
    box-sizing: border-box;
    padding: 42px 0 24px 0 !important;
    margin: 0;
}
.socialmedia-option{
    display: inline-block;
    position: relative;
    height: 47px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.socialmedia-option>div{
    width: calc(98%/2) !important;
    height: 47px;
    padding: 10px 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    float: left;
    position: relative;
    border-radius: 2px;
}
.socialmedia-option>div.facebookOpt{
    background-color: #3b5197;
    margin: 0 1% 0 0;
    padding-left: 12.5px; 
}
.socialmedia-option>div.facebookOpt>i, .socialmedia-option>div.googleOpt>i{
    width: 25px;
    height: 24px;
    display: block;
    float: left;
    position: relative;
}
.socialmedia-option>div.facebookOpt>i.fa, .socialmedia-option>div.googleOpt>i.fa{
    color: #ffffff;
    font-size: 24px;
}
.socialmedia-option>div.googleOpt{
    background-color: #4285f4;
    margin: 0 0 0 1%;
    padding-left: 12.5px; 
}
.facebookOpt>p>a, .googleOpt>p>a{
    height: 100%;
    width: calc(100% - 25px);
    font-family: "Cerebri-Sans";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    padding: 4px 0;
    margin: 0;
}
#signin-option>span{
    text-align: center;
    height: 19px;
    font-family: "Cerebri-Sans";
    font-size: 15px;
    color: #616161;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: block;
}
#signin-option>form{
    height: auto;
    width: 100%;
    display: block !important;
}
#signin-option>form>div+div{
    height: 48px;
    width: 100%;
    padding: 0;
    margin: 5.5px 0;
    box-sizing: border-box;
    border-radius: 4px;
}
#signin-option>form>div input{    
    height: 48px;
    width: 100%;
    padding: 10px 5px 10px 40px;;
    margin: 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #909398;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 10px ;
}
div input[type=email]{    
    background-image: url("../assets/icons/at.png");
    background-size: 24px 24px;
    width: 100% !important;
    color: #616161;
    font-size: 16px;
    font-family: "CerebriSans-Regular";
    font-weight: 400;
}
div input[type=password]{
    background-image: url("../assets/icons/lock.png");
    background-size: 24px 24px;
    color: #616161;
    font-size: 16px;
    font-family: "CerebriSans-Regular";
    font-weight: 400;
}
div input[type=checkbox],div input[type=checkbox]:checked{
    margin: 7.5px 0;;
    padding: 0;
    float: left;
    display: block;
    box-sizing: border-box;
} 
form>p{
    padding: 4px 20px;
    font-family: "Cerebri-Sans";
    font-weight: 500;
    font-size: 15px;
    color: #616161;
    margin: 0;
}
form>.submitBtn{
    height: 48px;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 2px;
    padding: 0;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    background-color: #4285f4;
    cursor: pointer;
    outline: none !important;
}
form>.submitBtn>input[type=submit]{
    height: 100%;
    width: 100%;
    padding: 12px 0 !important;
    margin: 0;        
    font-family: "Cerebri-Sans";
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    background-color: transparent;
    display: block;
    position: relative;
    cursor: pointer;
    border: none !important;
    outline: none;
}
#signin-option>p:nth-child(6){        
    padding: 10px 0;
    margin: 0;
    height: auto;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    font-size: 15px;
    font-family: "Cerebri-Sans";
    color: #4f87fb;
    text-transform: capitalize;
    cursor: pointer;
}
.base{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    position: relative;
    display: block;
    margin: 12px 0 0 0;
    padding: 15px 0;
}   
.base>p{    
    height: 40px;
    width: auto;
    padding: 10px 32px 0 0;
    margin: 0;
    font-family: "Cerebri-Sans";
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #121212;
    float: left;
    display: block;
}
.base>input[type=submit]{    
    width: 110px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #4f87fb;
    background-color: #ffffff;
    color: #4f87fb;
    padding: 7.5px 0;
    margin: 0;
    float: left;
    display: block;
    text-transform: capitalize;
    font-family: "Cerebri-Sans";
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
#signin-option ::placeholder, #register-option ::placeholder{
    color: #616161 !important;
    font-size: 16px;
    font-family: "CerebriSans-Regular";
    font-weight: 400;
}
/* 
    STYLING THE JOIN SPLEET OPTION
*/
#register-option>p{
    font-family: 'Cerebri-Sans';
    font-size: 24px;
    font-weight: 500;
    line-height: 1.42;
    text-align: center;
    color: #121212;
    text-transform: capitalize;
    padding: 42px 0 24px 0;
    margin: 0;
}
#register-option>form{
    width: 100%;
    height: 100% !important;
    padding: 0;
    margin: 0;
    display: block !important;
    position: relative;
}
#register-option>form>div{
    height: 48px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 4px;
}
#register-option>form>div+div{
    margin: 5.5px 0;
    padding: 0;
}
#register-option>form>div>input{
    height: 48px;
    width: 100%;
    padding: 10px 5px 10px 40px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #909398;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 10px;    
}
#register-option>form>div>input[type=submit]{    
    height: 48px;
    width: 100%;
    padding: 12px 0;
    margin: 15px 0 !important;
    border-radius: 4px;
    border: none;
    background-color: #4285f4;  
    color: #ffffff; 
    position: relative;
    display: block; 
    text-transform: capitalize;
    font-family: "Cerebri-Sans";
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
#register-option>p:nth-child(4){
    text-align: center;
    color: #616161;
    display: block;
    position: relative;
    font-size: 15px;
    font-family: "Cerebri-Sans";
    text-transform: capitalize;
    padding: 15px 0;
    margin: 0;
}
#register-option>p:nth-child(4)>span{
    color: #4f87fb;
}
#register-option>.baseOpt{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 0;
} 
#register-option>.baseOpt>p{    
    height: 40px;
    font-family: "Cerebri-Sans";
    font-size: 15px;
    line-height: 1.47;
    text-align: left;
    color: #121212;
    float: left;
    display: block;
    width: auto;
    padding: 10px 32px 0 0 !important;
    margin: 0;
}
#register-option>.baseOpt>input[type=submit]{    
    width: 110px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #4f87fb;
    background-color: #ffffff;
    color: #4f87fb;
    padding: 7.5px 0;
    margin: 0;
    float: left;
    display: block;
    text-transform: capitalize;
    font-family: "Cerebri-Sans";
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
/* END OF FORM RULE */

@media screen and (min-width: 768px){
    /* POP UP ERRORS */
    div#pop-up{
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        background-color: #4787fb;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
    }
    div#pop-up.active{
        height: 50px;
        padding: 10px 0;
    }
    div#pop-up div.errorMsg{
        width: calc(100% - 25px);
        height: 100%;
        padding: 2.5px 0;
        margin: 0;
        display: block;
        position: relative;
        float: left;
    }
    div#pop-up div.errorMsg p{
        font-size: 16px;
        font-family: "CerebriSans-Regular";
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    div#pop-up div.closeIcon{
        width: 25px;
        height: 100%;
        margin: 0;
        padding: 2.5px;
        display: block;
        position: relative;
        float: left;
        cursor: pointer;
    }
    div#pop-up div.closeIcon i.fa{
        font-size: 16px;
        color: #ffffff;
    }
    #imageWrapper{
        width: 100%;
        height: 560px;
        position: relative;
        display: block;
        background-image: linear-gradient(#ffffff, #ffffff);
    }
    #imageWrapper>div{
        position: absolute;
        height: 50px;
        width: 50px;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        background-color: #ffffff;
        border-radius: 25px;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: inset 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
        cursor: pointer;
        outline: none;
        display: block;
        z-index: 2;
    }
    #imageWrapper>div.leftButton{
        left: 100px;
        background-image: url("../assets/icons/left@2x.png");
    }
    #imageWrapper>div.rightButton{
        right: 100px;
        background-image: url("../assets/icons/right@2x.png");
    }
    #imageWrapper>img{
        width: 0;
        height: 100%;
        display: block;
        float: left;
        position: relative;
        transition: width 0.5s ease-out;
        overflow-x: hidden;
    }
    #imageWrapper>img.active{
        width: 100%;
        height: 100%;
        display: block;
    }
    .contentWrap{
        position: absolute;
        display: block;
        height: 560px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .menu-bar{
        display: none !important;
    }
    
    /* RULE FOR NAVIGATION */
    #navigation{
        width: 100%;
        height: 60px;
        display: inline-block;
        position: relative;
        top: -5px !important;
        padding: 0 100px;
        margin: 0 !important;
        background-color: #ffffff;
        border-bottom: none;
        border-bottom: 1px solid #4f87fb !important;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    #navigation.active{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        border-bottom: 1px solid #4f87fb !important;
        z-index: 4;
    }
    #navigation>.companyLogo{
        float: left;
        display: block;
        position: relative;
        padding: 5px 0;
        height: 100%;
        width: 50px;
    }
    #navigation>.companyLogo>a{
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
    }
    #navigation>.companyLogo>a img{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    #navigation>.navigationLinks{
        width: calc(100% - 60px);
        height: 100%;
        background-color: #ffffff;
        position: relative;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
    }
    .navigationLinks>ul{
        list-style: none;
        height: 100%;
        width: auto;
        position: relative;
        display: block;
        float: right;
        padding: 0;
        margin: 0;
    }
    .navigationLinks>ul>li{
        width: auto;
        height: 100%;
        display: block;
        position: relative;
        float: left;
    }
    .navigationLinks>ul>li a{
        padding: 20px 0;
        height: 100%;
        width: auto;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        text-transform: none;
        text-decoration: none;
        opacity: 0.7;
        color: #121212;
        transition: color 0.4s ease-out;
        font-family: "CerebriSans-Medium";
        font-size: 16px;
        font-weight: 500;
        margin: 0 10px;
    }
    .navigationLinks>ul>li a.active{
        color: #4f87fb;
        opacity: 1 !important;
    }
    .navigationLinks>ul>li a::before{
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background-color: #4f87fb;
        right: auto;
        margin-right: 50%;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.35s ease-out;
        -o-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out
    }
    .navigationLinks>ul>li a:hover::before{
        width: 100%;
        margin: auto;
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }    
    ul.menulist{
        display: none;
        opacity: 0;
        width: 150px;
        height: auto;
        z-index: 2;
        padding: 10px 10px;
        margin: 0;
        box-shadow: 0 2px 5px 0 #ccc;
        position: absolute;
        top: 110%;
        list-style: none;
        border-radius: 4px;
        background-color: #ffffff;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        outline: none;
        border: none;
    }
    ul.menulist.active{
        display: block;
        opacity: 1;
    }
    ul.menulist::after{        
        height: 0;
        width: 0;
        position: absolute;
        content: '';
        top: -5px;
        left: 10px;
        border-width: 0 6px 7px 6px;
        border-style: solid;
        border-color: #fff transparent;
    }
    ul.menulist li a{
       height: 30px;
       width: 100%;
       padding: 5px 0;
       margin: 0;
       display: block;
       position: relative;
       font-size: 14px;
       font-weight: lighter;
       font-family: "CerebriSans-Light";
       outline: none;
       border: none;
    }
    li.noHover a::before{
        display: none;;
    }
    li.noHover a:hover::before{
        display: none;
    }
    .navigationLinks>ul>li>div.signupBtn{
        padding: 10px 0;
        margin-left: 10px;
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        outline: none;
        border: none;
    }
    .navigationLinks>ul>li>div.signupBtn a{
        height: 40px;
        width: auto;
        border-radius: 20px;
        padding: 10px 15px;
        outline: none !important;
        border: none;
        color: #ffffff;
        background-color: #4f87fb;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        cursor: pointer;
        text-align: center;
        opacity: 1 !important;
    }
    .navigationLinks>ul>li>div.signupBtn a:hover{
        box-shadow: 0 2px 15px 0 rgba(79, 135, 251, 0.5);
        cursor: pointer;
    }

    /* SIDE BAR BOX */
    #sidebar{
        width: 360px;
        height: 267px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 460px;
        right: 100px;
        border-radius: 4px;
        display: block;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.12);
        z-index: 2;
    }   
    #sidebar>.sidebar-content{
        width: 100%;
        height: 213px;
        padding: 30px 40px;
        margin: 0;
        box-sizing: border-box;
        display: block;
        position: relative;
    }
    #sidebar>.sidebar-content>p{
        display: block;
        position: relative;
        font-family: "Cerebri-Sans";
        text-align: left;
        color: #454f66;
        float: left;
        text-transform: capitalize;
    }
    #sidebar>.sidebar-content>p:nth-child(1){    
        height: 28px;
        font-size: 22px;
        font-weight: 500;
        padding: 15px 0 0 0;
        margin: 0;
    }
    #sidebar>.sidebar-content>p:nth-child(2){
        width: 79px;
        height: 51px;
        font-family: "Cerebri-Sans";
        font-size: 40px;
        float: right;
        display: block;
    }
    #sidebar>.sidebar-content>p:nth-child(2)>span{
        font-size: 18px;
    }
    #sidebar>.sidebar-content>p:nth-child(3){
        width: 30%;
        height: 30px;
        padding: 60px 0 0 0;
        margin: 0;
        font-size: 22px;    
        text-align: left;
        float: left;
    }
    #sidebar>.sidebar-content>p:nth-child(4){
        width: 150px;
        height: auto;
        padding: 30px 0 0 0;
        margin: 0;
        font-size: 40px;
        text-align: right;
        float: right;
        text-transform: capitalize;
    }
    #sidebar>.sidebar-content>span{
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        font-family: "CerebriSans-Medium";
        color: #454f66;
        padding: 0 !important;
        margin: 0 !important;
        text-align: right;
        float: right;
    }
    #sidebar>.sidebar-buttons{
        border: solid 1px #4f87fb;
        border-radius: 0 0 4px 4px;
        width: 100%;
        height: 54px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: inline-block;
    }
    #sidebar>.sidebar-buttons>div{
        width: 50%;
        height: 100%;
        float: left;
        display: block;
        position: relative;
        padding: 5px 0;
        margin: 0;        
        cursor: pointer;
    }
    #sidebar>.sidebar-buttons>div.check-in{
        border-radius: 0 0 0 4px;
        background-color: #4f87fb;
    }
    #sidebar>.sidebar-buttons>div.bookmark{
        border-radius: 0 0 4px 0;
        background-color: #ffffff;
        transition: background-color 0.2s ease-out;
    }
    #sidebar>.sidebar-buttons>div.bookmark:hover{
        background-color: #b6cbf7;
    }
    #sidebar>.sidebar-buttons>div>p{        
        font-family: "CerebriSans-Medium";
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
        padding: 10px 0;
        margin: 0;
    }
    #sidebar>.sidebar-buttons>div.check-in>p{
        color: #ffffff;
    }
    #sidebar>.sidebar-buttons>div.bookmark>p{ 
        color: #4f87fb;
        transition: color 0.5s ease-in-out;
    }
    #sidebar>.sidebar-buttons>div.bookmark>p:hover{
        color: #ffffff;
    }

    /* MAIN SPACE CONTENTS */
    #space-contents{
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
    }
    /* RULE FOR OVERVIEW */    
    #overview{
        width: 100%;
        height: auto;
        padding: 30px 100px 0 100px;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        display: inline-block; 
    }
    #overview>p{
        padding: 0 0 10px 0;
        color: #454f66;
    }
    #overview>p:nth-child(1){
        font-size: 18px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
    }
    #overview>p:nth-child(2){
        font-size: 16px;
        font-weight: 300;
        font-family: "CerebriSans-Light";
    }

    #overview>.spaceAmenities{
        padding: 40px 0 30px 0;
        margin: 0;
        height: auto;
        width: 100%;
        position: relative;
        display: inline-block;
    }
    #overview>.spaceAmenities>.amenity{
        width: 100px;
        height: auto;
        display: block;
        float: left;
    }
    #overview>.spaceAmenities>.amenity>.amenityImage{
        width: 25px;
        height: 27px;
        object-fit: contain;
        margin: 10px auto;
        background-color: transparent;
        border: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
    }
    #overview>.spaceAmenities>.amenity>p{
        padding: 5px 0;
        margin: 0;
        box-sizing: border-box;
        text-transform: capitalize;
        text-align: center;
        width: 100%;
        opacity: .5;
        font-size: 14px;
        font-weight: 300;
        font-family: "CerebriSans-Regular"
    }
    /* END OF OVERVIEW */

    /* VIEW RULE */
    #views{
        width: 100%;
        height: auto;
        display: block;
        scroll-behavior: smooth;
        position: relative;
    }
    #views>ul.tabs{
        width: 100%;
        height: 50px;
        padding: 0 100px;
        margin: 0;
        border-bottom: solid 2px #eeeeee;
        display: block;
        position: relative;
        list-style: none;
    }
    #views>ul.tabs>li{
        width: auto;
        height: 50px;
        padding: 0;
        margin: 0 20px 0 0;
        display: block;
        float: left;
        position: relative;
        border: none;
    }        
    #views>ul.tabs>li>h4{
        height: 50px;
        width: auto;
        padding: 15px 0;
        margin: 0;
        cursor: pointer;
        box-sizing: border-box;
        text-align: left;
        font-family: "CerebriSans-Light";
        font-size: 18px;
        font-weight: 300;
        color: #454f66;
        display: block;
        border: none;
        text-transform: capitalize;
        text-decoration: none;
        transition: color 0.2s ease-out;
    }
    #views>ul.tabs>li>h4.active{
        color: #4f87fb;
        background-color: #ffffff;        
        border-bottom: solid 2px #4f87fb;
        outline: none;
    }
    #views>.tab-contents{
        width: 60%;
        height: auto;
        display: inline-block;
        position: relative;
        padding: 0 100px 30px 100px;
        margin: 0;
    }    
    #views>.tab-contents>div{
        height: auto;
        width: 0;
        float: left;
        left: 0;
        display: none;
        position: relative;
        opacity: 0;
        -webkit-transition: left,width .5s ease-out ;
        -o-transition: left,width .5s ease-out ;
        transition: left,width .5s ease-out ;
    }
    #views>.tab-contents>div.active{ 
        width: 100%;
        left: 0;
        position: relative;
        float: left;
        display: block;
        opacity: 1;
    }
    #views>.tab-contents>div>p{
        margin: 0;
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        text-align: left;
        color: #454f66;
    }
    #views>.tab-contents>div>p:first-child{
        padding: 30px 0;
        font-family: "CerebriSans-Light";
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
    }
    #views>.tab-contents>div>p:nth-of-type(2){
        padding: 0 0 40px 0;
        font-family: "CerebriSans-Light";
        font-size: 16px;
        font-weight: 400;
    }
    .tab-contents>#inspection>.row{
        width: 100%;
        height: auto;
        padding: 25px 0;
        margin: 0;
        border-bottom: 1px solid #eeeeee;
        display: inline-block;
    }
    .tab-contents>#inspection>.row>div{
        height: 40px;
        display: block;
        float: left;
    }
    .tab-contents>#inspection>.row>div>p{
        padding: 10px 0;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Regular";
        text-align: left;
        text-transform: capitalize;
        color: #454f66;
    }
    .tab-contents>#inspection>.row>.date{
        width: 50%;
        background-color: transparent;
    }
    .tab-contents>#inspection>.row>.time{
        width: 30%;
        background-color: transparent;
    }
    .tab-contents>#inspection>.row>.button{
        width: 20%;
        padding: 7.5px 0 7.5px 20px;
    }
    .tab-contents>#inspection>.row>.button>input[type=button]{
        height: 30px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        color: #4f87fb;
        background-color: #b6cbf7;
        border-radius: 4px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    /* SIMILAR SPACES */
    #similar-spaces{
        width: 100%;
        padding: 40px 100px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #similar-spaces>p{
        width: 100%;
        height: auto;
        padding: 15px 0;
        margin: 0;
        display: block;
        float: left;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        text-align: left;
        text-transform: capitalize;
        color: #454f66;
    }
    #similar-spaces>.trending-column{
        width: calc(100%/4);
        height: auto;
        padding: 0 10px;
        margin: 0 10px 0 -10px;
        position: relative;
        display: block;
        float: left;
    }
    #similar-spaces>.trending-column>.image{
        width: 100%;
        height: 177px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px 4px 0 0;
        background-image: url("../assets/images/joseph.jpg");
    }
    #similar-spaces>.trending-column>.details{
        padding: 10px;
        margin: 0;
        width: 100%;
        height: auto;        
        position: relative;
        display: block;
        border: solid 1px #d8d8d8;
        border-radius: 0 0 4px 4px;
    }
    #similar-spaces>.trending-column>.details>p{
        width: 100%;
        height: auto;
        padding: 1px 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #similar-spaces>.trending-column>.details>p:nth-child(1){            
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        text-align: left;
        color: #454f66;
        text-transform: capitalize;
    }
    #similar-spaces>.trending-column>.details>p:nth-child(2){
        font-size: 15px;
        font-weight: 300;
        color: #454f66; 
        font-family: "CerebriSans-Light"; 
    }
    #similar-spaces>.trending-column>.details>p:nth-child(3){
        font-size: 15px;
        font-weight: 300;
        color: #454f66; 
        font-family: "CerebriSans-Light"; 
    }
}

@media screen and (max-width: 767px){
    #imageWrapper{
        width: 100%;
        height: 350px;
        position: relative;
        display: block;
        background-image: linear-gradient(#ffffff, #4f87fb);
    }
    #imageWrapper>div{
        position: absolute;
        height: 35px;
        width: 35px;
        border-radius: 17.5px;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        background-color: #ffffff;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: inset 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
        cursor: pointer;
        outline: none;
        display: block;
        z-index: 2;
    }
    #imageWrapper>div.leftButton{
        left: 20px;
        background-image: url("../assets/icons/left@2x.png");
    }
    #imageWrapper>div.rightButton{
        right: 20px;
        background-image: url("../assets/icons/right@2x.png");
    }
    #imageWrapper>img{
        width: 0;
        height: 100%;
        display: block;
        float: left;
        position: relative;
        transition: width 0.2s ease-out;
    }
    #imageWrapper>img.active{
        width: 100%;
        height: 100%;
        display: block;
    }
    .contentWrap{
        position: absolute;
        display: block;
        height: 350px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 20px 0 20px;
    }

    /* STYLING THE NAVIGTION BAR */
    #navigation{
        width: 100%;
        height: 50px;
        display: block;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        z-index: 3;
    }
    #navigation>.companyLogo{
        display: block;
        height: 100%;
        width: 50px;
    }
    #navigation>.companyLogo>a img{
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 4px 0 0 4px;
    }
    #navigation>.navigationLinks{
        width: 100%;
        height: auto;
        background-image: linear-gradient(rgb(116, 111, 111), rgb(48, 47, 47));
        display: block;
        outline: none;
    }
    #nav{
        width: 100%;
        height: 100%;
        position: relative;
        display: none;
        opacity: 0;
        transition: opacity 0.4s ease-out;
        -webkit-transition: opacity 0.4s ease-out;
        -o-transition: opacity 0.4s ease-out;
        -moz-transition: opacity 0.4s ease-out;
    }
    #nav.show{
        height: auto;
        display: inline-block;
        opacity: 1;
        z-index: 2;
    }
    .navigationLinks>ul{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        list-style: none;
    }
    .navigationLinks>ul>li{
        width: 100%;
        height: 100%; 
        display: block;
        list-style: none;
        border-bottom: 1px solid #4f87fb;
    }
    .navigationLinks>ul>li a{
        height: 40px;
        width: 100%;
        display: block;
        cursor: pointer;
        padding: 12.5px 10px;
        text-transform: capitalize;
        text-decoration: none;
        text-align: left;
        color: #ffffff;
        transition: color 0.4s ease-out;
        font-family: "Cerebri-Sans";
        font-size: 14px;
        font-weight: 400;
        z-index: 3;
    }                
    .navigationLinks>ul>li a.active{
        color: #4f87fb;
        opacity: 1 !important;
    }
    .navigationLinks>ul>li>div.logout{
        width: 100%;
        height: 100%;
        padding: 0;
        display: block;
        position: relative;
    }
    .navigationLinks>ul>li>div.logout input[type=button]{
        height: 40px; /* POINT TWO */
        width: 100%;
        margin: 0;
        padding: 10px 20px; /* POINT THREE */
        color: #ffffff;
        background-color: #4f87fb;
        border: none;
        box-shadow: none;
        outline: none;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
        cursor: pointer;
        opacity: 1 !important;
    }
    .navigationLinks>ul>li>div.logout input[type=button]:hover{
        box-shadow: 0 2px 15px 0 rgba(79, 135, 251, 0.5);
        cursor: pointer;
    }
    /* STYLING THE HUMBURGER*/
    .menu-bar{
        display: block;
        position: absolute;
        cursor: pointer;
        line-height: 50px;
        right: 30px;
        top: 22.5px;
        height: auto;
    }
    .bar1, .bar2, .bar3 {
        height: 3px;
        width: 30px;
        margin: 4px 0;
        background-color: #4f87fb;
        display: block;
        transition: .15s ease-in;
        text-align: center;
    }
    .change .bar1 {
        transform: translate(0px,9px) rotate(-45deg);
        -moz-transform: translate(0px,9px) rotate(-45deg);
        -ms-transform: translate(0px,9px) rotate(-45deg);
        -webkit-transform: translate(0px,9px) rotate(-45deg);
        -o-transform: translate(0px,9px) rotate(-45deg);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: translate(0px,-5px) rotate(45deg);
        -moz-transform: translate(0px,-5px) rotate(45deg);
        -ms-transform: translate(0px,-5px) rotate(45deg);
        -webkit-transform: translate(0px,-5px) rotate(45deg);
        -o-transform: translate(0px,-5px) rotate(45deg);
    }

    /* MAIN SPACE CONTENTS */
    #space-contents{
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
    }
    /* RULE FOR OVERVIEW */    
    #overview{
        width: 100%;
        height: auto;
        padding: 20px 20px 0 20px;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        display: inline-block; 
    }
    #overview>p{
        padding: 0 0 5px 0;
        color: #454f66;
    }
    #overview>p:nth-child(1){
        font-size: 20px;
        font-weight: 500;
        font-family: "CerebriSans-Medium";
    }
    #overview>p:nth-child(2){
        font-size: 16px;
        font-weight: 300;
        font-family: "CerebriSans-Light";
    }
    #overview>.spaceAmenities{
        padding: 20px 0;
        margin: 0;
        height: auto;
        width: 100%;
        position: relative;
        display: inline-block;
    }
    #overview>.spaceAmenities>.amenity{
        width: calc(100% / 3);
        height: auto;
        display: block;
        float: left;
        padding: 0 0 10px 0;
    }
    #overview>.spaceAmenities>.amenity>.amenityImage{
        width: 25px;
        height: 27px;
        object-fit: contain;
        margin: 10px auto;
        background-color: transparent;
        border: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
    }
    #overview>.spaceAmenities>.amenity>p{
        padding: 5px 0;
        margin: 0;
        box-sizing: border-box;
        text-transform: capitalize;
        text-align: center;
        width: 100%;
        opacity: .5;
        font-size: 12px;
        font-weight: 300;
        font-family: "CerebriSans-Regular"
    }
    /* END OF OVERVIEW */

    /* VIEW RULE */
    #views{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }
    #views>ul.tabs{
        width: 100%;
        height: 40px;
        padding: 0 20px;
        margin: 0;
        border-bottom: solid 2px #eeeeee;
        display: block;
        position: relative;
        list-style: none;
    }    
    #views>ul.tabs>li{
        width: auto;
        height: 40px;
        padding: 0 10px 0 0;
        margin: 0;
        display: block;
        float: left;
        position: relative;
        border: none;
    }               
    #views>ul.tabs>li>h4{
        height: 40px;
        width: auto;
        padding: 10px 0;
        margin: 0;
        cursor: pointer;
        box-sizing: border-box;
        text-align: left;
        font-family: "CerebriSans-Light";
        font-size: 16px;
        font-weight: 300;
        color: #454f66;
        display: block;
        border: none;
        text-transform: capitalize;
        text-decoration: none;
        transition: color 0.2s ease-out;
    }
    #views>ul.tabs>li>h4.active{
        color: #4f87fb;
        background-color: #ffffff;        
        border-bottom: solid 2px #4f87fb;
        outline: none;
    }
    #views>.tab-contents{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        padding: 15px 20px 30px 20px;
        margin: 0;
    }    
    #views>.tab-contents>div{
        display: none;
        position: relative;
        opacity: 0;
        transition: width,display,opacity 0.2s ease-out;
    }
    #views>.tab-contents>div.active{ 
        width: 100%;
        display: block;
        opacity: 1;
        position: relative;
        overflow-y: auto;
    }
    #views>.tab-contents>div>p{
        margin: 0;
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        text-align: left;
        color: #454f66;
    }
    #views>.tab-contents>div>p:first-child{
        padding: 15px 0;
        font-family: "CerebriSans-Light";
        font-weight: 300;
        font-size: 18px;
        text-transform: capitalize;
    }
    #views>.tab-contents>div>p:nth-of-type(2){
        padding: 0 0 20px 0;
        font-family: "CerebriSans-Regular";
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
    }
    #inspection>.row>div>p{
        padding: 10px 0;
        font-size: 16px;
        font-weight: 400;
        font-family: "CerebriSans-Regular";
        text-align: left;
        text-transform: capitalize;
        color: #454f66;
        display: block;
        position: relative;
    }    
    #inspection>.row{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #eeeeee;
        display: inline-block;
        position: relative;
    }
    #inspection>.row>div{
        height: 30px;
        width: auto;
        display: block;
        position: relative;
        float: left;
    }
    .tab-contents>#inspection>.row>.date{
        width: 40%;
        height: auto;
        display: inline-block;
    }
    .tab-contents>#inspection>.row>.time{
        padding: 0;
        width: 45%;
        background-color: transparent;
    }
    #inspection>.row>.button{
        height: 25px;
        width: 25px;
        border-radius: 12.5px;
        background-color: #b6cbf7;
        display: block;
        position: relative;
        float: right;
        top: 50%;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
    }
    #inspection>.row>.button::after{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "i";
        color: #ffffff;
        text-align: center;
        font-style: italic;
        padding: 2px 0;
    }

    /* SIMILAR SPACES */
    #similar-spaces{
        width: 100%;
        padding: 20px;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #similar-spaces>p{
        width: 100%;
        height: auto;
        padding: 10px 0;
        margin: 0;
        display: block;
        position: relative;
        font-size: 18px;
        font-weight: 400;
        font-family: "CerebriSans-Medium";
        text-align: left;
        text-transform: capitalize;
        color: #454f66;
    }
    #similar-spaces>.trending-column{
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        padding: 10px 0;
    }
    #similar-spaces>.trending-column>.image{
        width: 100%;
        height: 150px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 4px 4px 0 0;
        background-image: url("../assets/images/joseph.jpg");
    }
    #similar-spaces>.trending-column>.details{
        padding: 10px;
        width: 100%;
        height: auto;        
        position: relative;
        display: block;
        border: solid 1px #d8d8d8;
        border-radius: 0 0 4px 4px;
    }
    #similar-spaces>.trending-column>.details>p{
        width: 100%;
        height: auto;
        padding: 1px 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #similar-spaces>.trending-column>.details>p:nth-child(1){            
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        font-family: "CerebriSans-Medium";
        text-align: left;
        color: #454f66;
        text-transform: capitalize;
    }
    #similar-spaces>.trending-column>.details>p:nth-child(2){
        font-size: 15px;
        font-weight: 300;
        color: #454f66; 
        font-family: "CerebriSans-Light"; 
    }
    #similar-spaces>.trending-column>.details>p:nth-child(3){
        font-size: 15px;
        font-weight: 300;
        color: #454f66; 
        font-family: "CerebriSans-Light"; 
    }
}